In [1]:
import pandas as pd
import numpy as np

df2019 = pd.read_csv('./data_/data_2019.csv')
df2020 = pd.read_csv('./data_/data_2020.csv')
df2021 = pd.read_csv('./data_/data_2021.csv')
df2022 = pd.read_csv('./data_/data_2022.csv')

print(df2019.shape, df2020.shape, df2021.shape, df2022.shape)

(5443338, 11) (6586785, 11) (10087302, 11) (2329307, 11)

In [2]:
def data_processing(exdata):
    exdata = exdata.iloc[:,1:]
    del exdata['연령']
    del exdata['나이']
    return exdata

df2019 = data_processing(df2019)
df2020 = data_processing(df2020)
df2021 = data_processing(df2021)
df2022 = data_processing(df2022)

In [3]:
df_list = [df2019, df2020, df2021,df2022]
df_all = pd.concat(df_list)
df_all

,성별,장르명,세부장르명,공연지역명,출연진내용,제작진내용,오픈런 여부,연령대
0,1,뮤지컬,넌버벌 퍼포먼스,서울,NaN,NaN,Y,40대
1,1,뮤지컬,넌버벌 퍼포먼스,서울,NaN,NaN,Y,40대
2,2,뮤지컬,넌버벌 퍼포먼스,서울,NaN,NaN,Y,60대
3,2,뮤지컬,넌버벌 퍼포먼스,서울,NaN,NaN,Y,60대
4,2,뮤지컬,넌버벌 퍼포먼스,서울,NaN,NaN,Y,60대
...,...,...,...,...,...,...,...,...
2329302,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,30대
2329303,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,30대
2329304,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,20대
2329305,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,20대
2329306,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,30대

In [5]:
df_all['공연지역명'].value_counts()

서울     19187878
경상도     2256395
경기도     1608703
충청도      564304
전라도      549217
강원도      211176
제주도       69059
Name: 공연지역명, dtype: int64

In [4]:
df_all['장르명'].value_counts()

뮤지컬    16813413
연극      4750318
클래식     1879093
무용       566223
국악       151736
오페라      148252
복합       137697
Name: 장르명, dtype: int64

In [49]:
df_all_mu = df_all[df_all['장르명']=='뮤지컬']
df_all_yun = df_all[df_all['장르명']=='연극']
df_all_cla = df_all[df_all['장르명']=='클래식']
df_all_muyo = df_all[df_all['장르명']=='무용']
df_all_guk = df_all[df_all['장르명']=='국악']
df_all_ope = df_all[df_all['장르명']=='오페라']
df_all_bok = df_all[df_all['장르명']=='복합']

In [50]:
df_all_guk['세부장르명'].value_counts()

기악      60211
연희혼합    48611
성악      42914
Name: 세부장르명, dtype: int64

### 성별, 연령, 오픈런 여부

In [1]:
df_all['공연지역명'].value_counts()

NameError: name 'df_all' is not defined

In [5]:
df_all['성별'].value_counts()

2    20007768
1     4438964
Name: 성별, dtype: int64

In [6]:
df_all['연령대'].value_counts()

30대       9234495
40대       6706816
20대       5588369
50대       2050731
60대        516458
14~19세     182176
70세 이상     148080
0~13세       19607
Name: 연령대, dtype: int64

In [7]:
df_all['오픈런 여부'].value_counts()

N    22389951
Y     2056781
Name: 오픈런 여부, dtype: int64

# 성별

In [8]:
df_sex_1 = df_all[df_all['성별']==1]
df_sex_2 = df_all[df_all['성별']==2]

In [62]:
df_sex_1['연령대'].value_counts()

30대       1591658
40대       1299667
20대        752931
50대        534442
60대        171830
70세 이상      57084
14~19세      17332
0~13세       14020
Name: 연령대, dtype: int64

In [60]:
df_sex_2['연령대'].value_counts()

30대       7642837
40대       5407149
20대       4835438
50대       1516289
60대        344628
14~19세     164844
70세 이상      90996
0~13세        5587
Name: 연령대, dtype: int64

In [57]:
df_sex_1['공연지역명'].value_counts()

서울     3182197
경상도     575731
경기도     332637
전라도     142025
충청도     138848
강원도      50767
제주도      16759
Name: 공연지역명, dtype: int64

In [58]:
df_sex_2['공연지역명'].value_counts()

서울     16005681
경상도     1680664
경기도     1276066
충청도      425456
전라도      407192
강원도      160409
제주도       52300
Name: 공연지역명, dtype: int64

# 연령대 별

In [8]:
df_all['연령대'].value_counts()

30대       9234495
40대       6706816
20대       5588369
50대       2050731
60대        516458
14~19세     182176
70세 이상     148080
0~13세       19607
Name: 연령대, dtype: int64

In [124]:
df_0_13 = df_all[df_all['연령대']=='0~13세']
df_14_19 = df_all[df_all['연령대']=='14~19세']
df_20 = df_all[df_all['연령대']=='20대']
df_30 = df_all[df_all['연령대']=='30대']
df_40 = df_all[df_all['연령대']=='40대']
df_50 = df_all[df_all['연령대']=='50대']
df_60 = df_all[df_all['연령대']=='60대']
df_70 = df_all[df_all['연령대']=='70세 이상']

### 0~13세

In [14]:
df_0_13_1 = df_0_13[df_0_13['성별']==1]
df_0_13_2 = df_0_13[df_0_13['성별']==2]

In [10]:
df_0_13.head()

,성별,장르명,세부장르명,공연지역명,출연진내용,제작진내용,오픈런 여부,연령대
16101,1,클래식,기악,서울,"최유진, 이은원, 장혜리, 오유선, 김활란, 변신영, 최원석","이삭, 이신규, 신현준",N,0~13세
16102,1,클래식,기악,서울,"최유진, 이은원, 장혜리, 오유선, 김활란, 변신영, 최원석","이삭, 이신규, 신현준",N,0~13세
16103,1,클래식,기악,서울,"최유진, 이은원, 장혜리, 오유선, 김활란, 변신영, 최원석","이삭, 이신규, 신현준",N,0~13세
16104,1,클래식,기악,서울,"최유진, 이은원, 장혜리, 오유선, 김활란, 변신영, 최원석","이삭, 이신규, 신현준",N,0~13세
16105,1,클래식,기악,서울,"최유진, 이은원, 장혜리, 오유선, 김활란, 변신영, 최원석","이삭, 이신규, 신현준",N,0~13세

In [11]:
df_0_13['성별'].value_counts()

1    14020
2     5587
Name: 성별, dtype: int64

In [12]:
df_0_13['장르명'].value_counts()

뮤지컬    9449
복합     4440
클래식    4249
연극      580
무용      422
오페라     242
국악      225
Name: 장르명, dtype: int64

### 14~19세

In [52]:
df_14_19_1 = df_14_19[df_14_19['성별']==1]
df_14_19_2 = df_14_19[df_14_19['성별']==2]

In [53]:
df_14_19_1

,성별,장르명,세부장르명,공연지역명,출연진내용,제작진내용,오픈런 여부,연령대
6917,1,뮤지컬,뮤지컬,서울,NaN,NaN,N,14~19세
6918,1,뮤지컬,뮤지컬,서울,NaN,NaN,N,14~19세
98084,1,클래식,기악,경기도,"최수열, 김성현, 김홍박 등",NaN,N,14~19세
98085,1,클래식,기악,경기도,"최수열, 김성현, 김홍박 등",NaN,N,14~19세
98716,1,클래식,기악,서울,"서수민, 문정재, 임경욱, 홍성은, 김소연, 나채원, 이상호 등",NaN,N,14~19세
...,...,...,...,...,...,...,...,...
2316877,1,뮤지컬,뮤지컬,서울,"박칼린, 최정원, 남경주, 이건명, 양희준, 이석준, 이서영 등","박준영, 이나영, 박은영 등",N,14~19세
2316878,1,뮤지컬,뮤지컬,서울,"박칼린, 최정원, 남경주, 이건명, 양희준, 이석준, 이서영 등","박준영, 이나영, 박은영 등",N,14~19세
2318756,1,뮤지컬,뮤지컬,서울,"박칼린, 최정원, 남경주, 이건명, 양희준, 이석준, 이서영 등","박준영, 이나영, 박은영 등",N,14~19세
2318961,1,뮤지컬,뮤지컬,서울,"박칼린, 최정원, 남경주, 이건명, 양희준, 이석준, 이서영 등","박준영, 이나영, 박은영 등",N,14~19세
2321371,1,연극,연극,서울,"박인혁, 신진영, 양혜원, 김상아, 김효선, 이호철, 박승훈","이해찬, 이상희,박은혜 등",N,14~19세

In [19]:
df_14_19_1['출연진내용'].value_counts()

홍광호, 고은성, 김준수, 김성철, 김선영, 장은아, 강홍석 등    573
류정한, 홍광호, 신성록, 윤공주, 선민, 조정은, 최수진 등     435
차지연, 김세정, 송원근, 서경수, 홍우진, 정상윤, 조풍래 등    410
차수영, 황지현, 고연경, 윤주희, 최상배, 한훈, 임현준 등     346
옥주현, 손승연, 정선아, 나하나, 서경수, 진태화, 남경주 등    346
                                      ...
그웬돌린 크리스티, 올리버 크리스                       1
우나이 우레초 주비야가, 문성우 등                      1
이순재, 신구, 박소담, 채수빈, 김대령, 조달환, 김은희         1
윤병화                                      1
권주용, 김경아, 강초롱 등                          1
Name: 출연진내용, Length: 1348, dtype: int64

In [20]:
df_14_19_2['출연진내용'].value_counts()

홍광호, 고은성, 김준수, 김성철, 김선영, 장은아, 강홍석 등      4290
차지연, 김세정, 송원근, 서경수, 홍우진, 정상윤, 조풍래 등      4003
김준수, 서은광, 이지훈, 강태을, 신영숙, 장은아, 민경기 등      3678
엄기준, 카이, 유연석, 규현, 나현우, 김예원, 이지혜 등        3298
최정원, 윤공주, 티파니 영, 아이비, 민경아, 최재림, 박건형 등    2876
                                         ...
김지영, 김리회, 이은원, 박예은, 김기완, 윤전일, 변성완 등         1
전시후, 노진욱, 이재원, 반은세, 김가현, 박민서                1
김보람, 신희진, 신서진, 김범수, 잉시윤, 주현우, 백지연 등         1
금난새, 유재아, 한단아 등                             1
한경진, 문명환                                    1
Name: 출연진내용, Length: 2586, dtype: int64

### 20대

In [23]:
df_20_1 = df_20[df_20['성별']==1]
df_20_2 = df_20[df_20['성별']==2]

In [25]:
df_20_1['장르명'].value_counts()

연극     362394
뮤지컬    309322
클래식     62379
무용       9344
국악       4135
오페라      3725
복합       1632
Name: 장르명, dtype: int64

In [33]:
df_20_1['세부장르명'].value_counts()

연극          361086
뮤지컬         306270
기악           52402
성악           12487
발레            4549
현대무용          4105
오페라           3725
넌버벌 퍼포먼스      2265
복합            1632
연희혼합          1625
창극            1040
악극             787
한국무용           690
마당극            156
인형극             66
마임              46
Name: 세부장르명, dtype: int64

In [35]:
df_20_1['공연지역명'].value_counts()

서울     625675
경상도     73853
경기도     18390
전라도     16350
충청도     14441
강원도      3150
제주도      1072
Name: 공연지역명, dtype: int64

In [83]:
# 옥탑방 고양이
# 한뼘사이
# 작업의 정석

In [44]:
df_20_1['출연진내용'].value_counts()

김혜라, 김정문, 한채빈, 이진실, 김수현, 김태인, 김채율 등    34735
차수영, 황지현, 고연경, 윤주희, 최상배, 한훈, 임현준 등     18475
김동원, 김도현, 김종민, 손윤필, 권찬미, 성지호, 박소민 등    13446
옥주현, 손승연, 정선아, 나하나, 서경수, 진태화, 남경주 등    12651
차수영, 황지현, 김주하, 이연우, 최상배, 임창섭, 한훈 등     10484
                                       ...
전슬기, 김유진, 김준영, 고동균, 추석영, 신지연               1
양경원, 서예화, 차용학, 민준호                         1
조은아, 주연경, 문주영, 주연주, 김지원, 신애경, 한상일 등        1
빈프리트 톨, 석현수, 정민호, 허남원, 정록기 등               1
문종영, 김국기, 홍유리, 문소연, 주우진, 성윤기               1
Name: 출연진내용, Length: 8407, dtype: int64

In [26]:
df_20_2['장르명'].value_counts()

뮤지컬    3367658
연극     1176298
클래식     198451
무용       59577
국악       15359
오페라      11730
복합        6365
Name: 장르명, dtype: int64

In [34]:
df_20_2['공연지역명'].value_counts()

서울     4329924
경상도     269582
경기도     112535
전라도      57221
충청도      51173
강원도      11823
제주도       3180
Name: 공연지역명, dtype: int64

### 30대

In [36]:
df_30_1 = df_30[df_30['성별']==1]
df_30_2 = df_30[df_30['성별']==2]

In [38]:
df_30_1['장르명'].value_counts()

뮤지컬    969905
연극     457091
클래식    114526
무용      26978
국악       8903
오페라      7424
복합       6831
Name: 장르명, dtype: int64

In [39]:
df_30_2['장르명'].value_counts()

뮤지컬    5756559
연극     1307998
클래식     371048
무용      131267
복합       28093
국악       25857
오페라      22015
Name: 장르명, dtype: int64

In [40]:
df_30_1['출연진내용'].value_counts()

조나단 록스머스, 클레어 라이언, 케이틀린 피니, 맷레이시, 베벌리 차이앗, 제임스 보스윅, 커트 올즈 등    35904
김혜라, 김정문, 한채빈, 이진실, 김수현, 김태인, 김채율 등                            29420
옥주현, 손승연, 정선아, 나하나, 서경수, 진태화, 남경주 등                            29264
조승우, 홍광호, 박은태, 김지현, 린아, 김도형, 서영주 등                             23612
류정한, 엄기준, 카이, 신성록, 신영숙, 옥주현, 장은아 등                             21796
                                                               ...
도유재, 양영조, 홍사빈                                                      1
김현보, 박진우, 이영훈, 최진경, 조윤정, 박종선, 오단해                                  1
고진아, 구영우, 박미란, 양경일, 이은혜, 이정은, 임찬양 등                                1
강성욱, 이소정, 김희진, 윤지혜, 박강훈, 정희윤, 신동준 등                                1
박민정, 서동현, 이원우                                                      1
Name: 출연진내용, Length: 9993, dtype: int64

In [41]:
df_30_2['출연진내용'].value_counts()

김준수, 전동석, 조정은, 임혜영, 린지, 강태을, 손준호 등                             85229
조승우, 홍광호, 박은태, 김지현, 린아, 김도형, 서영주 등                             81288
조나단 록스머스, 클레어 라이언, 케이틀린 피니, 맷레이시, 베벌리 차이앗, 제임스 보스윅, 커트 올즈 등    79410
옥주현, 손승연, 정선아, 나하나, 서경수, 진태화, 남경주 등                            77672
김준수, 전동석, 신성록, 조정은, 임혜영, 박지연, 강태을 등                            72171
                                                               ...
윤현서, 이혜진                                                           1
장유진, 김준희                                                           1
송남현, 임애진, 임가희, 연하늘                                                 1
황인영, 김고운                                                           1
정하림, 이정아                                                           1
Name: 출연진내용, Length: 11601, dtype: int64

In [42]:
df_30_1['공연지역명'].value_counts()

서울     1179537
경상도     196814
경기도      99703
충청도      50346
전라도      48149
강원도      12194
제주도       4915
Name: 공연지역명, dtype: int64

In [43]:
df_30_2['공연지역명'].value_counts()

서울     6105356
경상도     616189
경기도     506349
충청도     177143
전라도     165644
강원도      51335
제주도      20821
Name: 공연지역명, dtype: int64

### 40대

In [54]:
df_40_1 = df_40[df_40['성별']==1]
df_40_2 = df_40[df_40['성별']==2]

In [58]:
df_40_1['공연지역명'].value_counts()

서울     821398
경상도    190882
경기도    155723
충청도     53419
전라도     52939
강원도     17544
제주도      7762
Name: 공연지역명, dtype: int64

In [59]:
df_40_2['공연지역명'].value_counts()

서울     3922665
경상도     581136
경기도     519232
충청도     156959
전라도     141546
강원도      60934
제주도      24677
Name: 공연지역명, dtype: int64

In [60]:
df_40_1['장르명'].value_counts()

뮤지컬    888903
연극     210752
클래식    120876
무용      42574
복합      13051
오페라     12412
국악      11099
Name: 장르명, dtype: int64

In [61]:
df_40_2['장르명'].value_counts()

뮤지컬    3863639
연극      732729
클래식     491360
무용      190386
복합       48166
오페라      43400
국악       37469
Name: 장르명, dtype: int64

In [62]:
df_40_1['출연진내용'].value_counts()

조나단 록스머스, 클레어 라이언, 케이틀린 피니, 맷레이시, 베벌리 차이앗, 제임스 보스윅, 커트 올즈 등    22769
윤공주, 전나영, 김우형, 최재림, 정선아, 아이비, 박송권 등                            14070
옥주현, 손승연, 정선아, 나하나, 서경수, 진태화, 남경주 등                            12090
안젤로 델 베키오, 히바 타와지, 리샤르 샤레스트, 플로 칼리 등                           11904
류정한, 엄기준, 카이, 신성록, 신영숙, 옥주현, 장은아 등                             10883
                                                               ...
이극찬, wnwldnjs                                                      1
이고은, 한지혜                                                           1
최승호, 이찬양, 이성민, 김범준, 심형우, 이선규, 김라영 등                                1
염경애, 김경호, 채수정, 남해웅, 김미숙                                            1
윤현임, 김소연, 히로타 슌지 등                                                 1
Name: 출연진내용, Length: 9952, dtype: int64

In [64]:
df_40_2['출연진내용'].value_counts()

조나단 록스머스, 클레어 라이언, 케이틀린 피니, 맷레이시, 베벌리 차이앗, 제임스 보스윅, 커트 올즈 등    49046
조승우, 홍광호, 박은태, 김지현, 린아, 김도형, 서영주 등                             48643
김준수, 전동석, 조정은, 임혜영, 린지, 강태을, 손준호 등                             39031
엄기준, 카이, 유연석, 규현, 나현우, 김예원, 이지혜 등                              35774
윤공주, 전나영, 김우형, 최재림, 정선아, 아이비, 박송권 등                            34291
                                                               ...
박기호, 김도하, 박정후, 최예승, 권기은, 김리현, 한채율 등                                1
윤동환                                                                1
김광일, 장문수, 문수아, 신은아                                                 1
보리스 아발랸, 미하일 베네딕토브, 칭기스 오스마노프, 리앙 왕 등                              1
김경헌, 김나윤, 전혜인                                                      1
Name: 출연진내용, Length: 11771, dtype: int64

### 50대

In [89]:
df_50_1 = df_50[df_50['성별']==1]
df_50_2 = df_50[df_50['성별']==2]

In [90]:
df_50_1['장르명'].value_counts()

뮤지컬    294537
연극     103137
클래식     87388
무용      23487
오페라     10713
국악       9254
복합       5926
Name: 장르명, dtype: int64

In [91]:
df_50_2['장르명'].value_counts()

뮤지컬    900603
클래식    260288
연극     246598
무용      52772
오페라     22068
국악      19965
복합      13995
Name: 장르명, dtype: int64

In [92]:
df_50_1['공연지역명'].value_counts()

서울     374103
경상도     77853
경기도     38911
전라도     17353
충청도     14149
강원도      9650
제주도      2423
Name: 공연지역명, dtype: int64

In [93]:
df_50_2['공연지역명'].value_counts()

서울     1172363
경상도     158216
경기도      99220
전라도      30937
충청도      28827
강원도      23694
제주도       3032
Name: 공연지역명, dtype: int64

In [94]:
df_50_1['출연진내용'].value_counts()

조나단 록스머스, 클레어 라이언, 케이틀린 피니, 맷레이시, 베벌리 차이앗, 제임스 보스윅, 커트 올즈 등    17201
윤공주, 전나영, 김우형, 최재림, 정선아, 아이비, 박송권 등                             9124
안젤로 델 베키오, 히바 타와지, 리샤르 샤레스트, 플로 칼리 등                            8516
조나단 록스머스, 클레어 라이언, 클라라 버디에, 맷레이시, 베벌리 차이앗, 제임스 보스윅, 커트 올즈 등     7790
류정한, 엄기준, 카이, 신성록, 신영숙, 옥주현, 장은아 등                              6129
                                                               ...
우현수                                                                1
유병혜, 김예라                                                           1
백경희, 김정하, 신동혁, 김현철, 박세민, 이혜정, 박형석 등                                1
송영훈 등                                                              1
서현진, 정민호, 전현호, 최윤정, 강지연, 임샛별, 정건 등                                 1
Name: 출연진내용, Length: 9163, dtype: int64

In [95]:
df_50_2['출연진내용'].value_counts()

조나단 록스머스, 클레어 라이언, 케이틀린 피니, 맷레이시, 베벌리 차이앗, 제임스 보스윅, 커트 올즈 등    30405
조승우, 홍광호, 박은태, 김지현, 린아, 김도형, 서영주 등                             20704
윤공주, 전나영, 김우형, 최재림, 정선아, 아이비, 박송권 등                            19584
류정한, 엄기준, 카이, 신성록, 신영숙, 옥주현, 장은아 등                             18404
안젤로 델 베키오, 히바 타와지, 리샤르 샤레스트, 플로 칼리 등                           16221
                                                               ...
장윤성, 김이곤, 정다슬 등                                                    1
김태형, 오충선, 유진섭, 최지웅, 박승원, 김혜령, 라세원 등                                1
최유진, 김선민, 윤보연                                                      1
한예린                                                                1
윤성규, 임승구 등                                                         1
Name: 출연진내용, Length: 10005, dtype: int64

### 60대

In [96]:
df_60_1 = df_60[df_60['성별']==1]
df_60_2 = df_60[df_60['성별']==2]

In [97]:
df_60_1['장르명'].value_counts()

뮤지컬    72765
클래식    44065
연극     34262
무용      7018
국악      6012
오페라     4939
복합      2769
Name: 장르명, dtype: int64

In [98]:
df_60_2['장르명'].value_counts()

뮤지컬    171504
클래식     80784
연극      62662
무용      12323
국악       6988
오페라      6102
복합       4265
Name: 장르명, dtype: int64

In [99]:
df_60_1['출연진내용'].value_counts()

조나단 록스머스, 클레어 라이언, 케이틀린 피니, 맷레이시, 베벌리 차이앗, 제임스 보스윅, 커트 올즈 등    3470
김준수, 유태평양, 서정금, 민은경, 김미진, 홍승희, 정준태                             3070
김혜라, 김정문, 한채빈, 이진실, 김수현, 김태인, 김채율 등                            2352
윤공주, 전나영, 김우형, 최재림, 정선아, 아이비, 박송권 등                            2352
안젤로 델 베키오, 히바 타와지, 리샤르 샤레스트, 플로 칼리 등                           1919
                                                               ...
박영자, 김권섭, 이진옥 등                                                   1
김규연, 송지원, 김민지, 정지원, 유채연, 김정아, 이선호 등                               1
이건명, 안시하, 길병민, 홍선미, 김동문 등                                         1
한여진, 황세희                                                          1
장진선, 박은경, 김세영, 남궁동, 이준영                                           1
Name: 출연진내용, Length: 6035, dtype: int64

In [100]:
df_60_2['출연진내용'].value_counts()

김혜라, 김정문, 한채빈, 이진실, 김수현, 김태인, 김채율 등                            4996
조나단 록스머스, 클레어 라이언, 케이틀린 피니, 맷레이시, 베벌리 차이앗, 제임스 보스윅, 커트 올즈 등    4894
유준상, 정성화, 홍나현, 장민제, 김지우, 유리아, 이율 등                             4121
류정한, 엄기준, 카이, 신성록, 신영숙, 옥주현, 장은아 등                             3660
윤공주, 전나영, 김우형, 최재림, 정선아, 아이비, 박송권 등                            3422
                                                               ...
류세일, 권영은, 곽다인, 이정주, 김수민, 류주비, 이지명 등                               1
김소연, 김수영, 김윤지 등                                                   1
박수빈, 이혜주, 한지훈, 전성욱, 남상아, 최예은                                      1
박석용, 이미정, 김찬호, 강상규, 장윤진, 김대환, 전우준 등                               1
이현, 박소진, 박신해, 제상철, 김혜린                                            1
Name: 출연진내용, Length: 6391, dtype: int64

In [101]:
df_60_1['공연지역명'].value_counts()

서울     114264
경상도     28298
경기도     13466
강원도      6163
전라도      5052
충청도      4078
제주도       509
Name: 공연지역명, dtype: int64

In [102]:
df_60_2['공연지역명'].value_counts()

서울     258365
경상도     37977
경기도     23696
강원도     10528
전라도      6866
충청도      6721
제주도       475
Name: 공연지역명, dtype: int64

### 70세 이상

In [103]:
df_70_1 = df_70[df_70['성별']==1]
df_70_2 = df_70[df_70['성별']==2]

In [104]:
df_70_1['장르명'].value_counts()

뮤지컬    26834
클래식    12836
연극     10725
무용      2566
국악      1801
오페라     1391
복합       931
Name: 장르명, dtype: int64

In [105]:
df_70_2['장르명'].value_counts()

뮤지컬    47832
클래식    17484
연극     15775
무용      3799
국악      3696
오페라     1500
복합       910
Name: 장르명, dtype: int64

In [106]:
df_70_1['공연지역명'].value_counts()

서울     41432
경상도     5938
경기도     4557
충청도     1907
강원도     1752
전라도     1449
제주도       49
Name: 공연지역명, dtype: int64

In [107]:
df_70_2['공연지역명'].value_counts()

서울     69622
경기도     8851
경상도     7756
충청도     1929
전라도     1518
강원도     1260
제주도       60
Name: 공연지역명, dtype: int64

In [108]:
df_70_1['출연진내용'].value_counts()

임성목, 정현희, 신광희, 이동화, 이승리, 윤석배           2016
김준수, 유태평양, 서정금, 민은경, 김미진, 홍승희, 정준태     1640
김혜라, 김정문, 한채빈, 이진실, 김수현, 김태인, 김채율 등    1213
송용진, 허규, 조형균, 백형훈, 양지원, 최민우, 박좌현 등      696
윤공주, 전나영, 김우형, 최재림, 정선아, 아이비, 박송권 등     654
                                       ...
김영호, 김준희, 김다미, 이경선, 한수진, 김상진, 최은식 등       1
장윤정, 박미자, 김달식, 김완선, 김승현, 소진선, 김남호 등       1
박지민, 김보라, 신민규, 황보건                        1
김란도, 윤민규, 송호섭, 이석준, 김형찬                   1
최영선, 송영민, 유성녀, 김주택 등                      1
Name: 출연진내용, Length: 3260, dtype: int64

In [109]:
df_70_2['출연진내용'].value_counts()

김성진 등                                  2137
송용진, 허규, 조형균, 백형훈, 양지원, 최민우, 박좌현 등     1849
김준수, 유태평양, 서정금, 민은경, 김미진, 홍승희, 정준태     1836
김준수, 전동석, 신성록, 조정은, 임혜영, 박지연, 강태을 등    1078
임강희, 백은혜, 이정화, 김재범, 김경수, 고상호, 안지환 등    1060
                                       ...
이준용, 장희원, 임정모, 문혜원, 김대호, 권오현, 김유남 등       1
윤은솔, 박수현, 문서현, 조형준                        1
우주호, 유채훈                                  1
강현우, 곽하은, 김난희, 위훈, 이민지, 이지영, 장용철 등        1
장윤정, 박미자, 김달식, 김완선, 김승현, 소진선, 김남호 등       1
Name: 출연진내용, Length: 3174, dtype: int64

In [125]:
old_list = [df_50_2, df_60, df_70]
old_all = pd.concat(old_list)
old_all

,성별,장르명,세부장르명,공연지역명,출연진내용,제작진내용,오픈런 여부,연령대
6,2,클래식,기악,서울,NaN,NaN,N,50대
7,2,클래식,기악,서울,NaN,NaN,N,50대
20,2,클래식,기악,서울,NaN,NaN,N,50대
21,2,클래식,기악,서울,NaN,NaN,N,50대
22,2,클래식,기악,서울,NaN,NaN,N,50대
...,...,...,...,...,...,...,...,...
2329237,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,70세 이상
2329238,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,70세 이상
2329239,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,70세 이상
2329240,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,70세 이상
2329241,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,70세 이상

In [119]:
df_50_1['장르명'].value_counts()

뮤지컬    294537
연극     103137
클래식     87388
무용      23487
오페라     10713
국악       9254
복합       5926
Name: 장르명, dtype: int64

In [127]:
old_all_mu = old_all[old_all['장르명']=='뮤지컬']
old_all_yun = old_all[old_all['장르명']=='연극']
old_all_cla = old_all[old_all['장르명']=='클래식']
old_all_muyo = old_all[old_all['장르명']=='무용']
old_all_guk = old_all[old_all['장르명']=='국악']
old_all_ope = old_all[old_all['장르명']=='오페라']
old_all_bok = old_all[old_all['장르명']=='복합']

In [131]:
old_all_yun['세부장르명'].value_counts()

연극     343610
마당극     12687
창극      12489
인형극       979
마임        257
Name: 세부장르명, dtype: int64