In [3]:
import pandas as pd
import numpy as np

df_2019 = pd.read_csv('./data/data_2019.csv')
df_2020 = pd.read_csv('./data/data_2020.csv')
df_2021 = pd.read_csv('./data/data_2021.csv')
df_2022 = pd.read_csv('./data/data_2022.csv')

print(df_2019.shape, df_2020.shape, df_2021.shape, df_2022.shape)

(5443351, 8) (6586786, 8) (10087540, 8) (2329307, 8)

In [4]:
import pandas as pd
import numpy as np

df2019 = pd.read_csv('./data_/data_2019.csv')
df2020 = pd.read_csv('./data_/data_2020.csv')
df2021 = pd.read_csv('./data_/data_2021.csv')
df2022 = pd.read_csv('./data_/data_2022.csv')

print(df2019.shape, df2020.shape, df2021.shape, df2022.shape)

(5443338, 11) (6586785, 11) (10087302, 11) (2329307, 11)

In [5]:
def data_processing(exdata):
    exdata = exdata.iloc[:,1:]
    del exdata['연령']
    del exdata['나이']
    return exdata

df_2019 = data_processing(df_2019)
df_2020 = data_processing(df_2020)
df_2021 = data_processing(df_2021)
df_2022 = data_processing(df_2022)

df2019 = data_processing(df2019)
df2020 = data_processing(df2020)
df2021 = data_processing(df2021)
df2022 = data_processing(df2022)

# df2019

In [6]:
df2019.head()

   성별  장르명     세부장르명 공연지역명 출연진내용 제작진내용 오픈런 여부  연령대
0   1  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y  40대
1   1  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y  40대
2   2  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y  60대
3   2  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y  60대
4   2  뮤지컬  넌버벌 퍼포먼스    서울   NaN   NaN      Y  60대

## 성별

In [7]:
df2019['성별'].value_counts()

2    4246826
1    1196512
Name: 성별, dtype: int64

In [8]:
# 남자
df2019_sex_1 = df2019[df2019['성별']==1]
# 여자
df2019_sex_2 = df2019[df2019['성별']==2]

In [7]:
df2019_sex_1['공연지역명'].value_counts()

서울     799473
경상도    169164
경기도    100160
충청도     55233
전라도     47269
강원도     19384
제주도      5829
Name: 공연지역명, dtype: int64

In [14]:
df2019_sex_1['세부장르명'].value_counts()

뮤지컬         589490
연극          378284
기악           93598
발레           34264
넌버벌 퍼포먼스     24657
성악           18463
복합           17066
오페라          14845
창극            5272
마당극           5163
현대무용          4836
한국무용          3406
연희혼합          3361
인형극           1817
악극            1760
마임             230
Name: 세부장르명, dtype: int64

In [29]:
df2019['장르명'].value_counts()

뮤지컬    3355353
연극     1355069
클래식     360957
무용      206372
복합       75251
오페라      50934
국악       39402
Name: 장르명, dtype: int64

# 총 데이터

In [9]:
df_list = [df2019, df2020, df2021,df2022]
df_all = pd.concat(df_list)
df_all

,성별,장르명,세부장르명,공연지역명,출연진내용,제작진내용,오픈런 여부,연령대
0,1,뮤지컬,넌버벌 퍼포먼스,서울,NaN,NaN,Y,40대
1,1,뮤지컬,넌버벌 퍼포먼스,서울,NaN,NaN,Y,40대
2,2,뮤지컬,넌버벌 퍼포먼스,서울,NaN,NaN,Y,60대
3,2,뮤지컬,넌버벌 퍼포먼스,서울,NaN,NaN,Y,60대
4,2,뮤지컬,넌버벌 퍼포먼스,서울,NaN,NaN,Y,60대
...,...,...,...,...,...,...,...,...
2329302,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,30대
2329303,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,30대
2329304,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,20대
2329305,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,20대
2329306,2,무용,발레,서울,NaN,"페르디낭 헤롤드, 프레데릭 애쉬튼, 존 랜치베리 등",N,30대

## 성별

In [10]:
# 남자
df_all_sex_1 = df_all[df_all['성별']==1]
#여자
df_all_sex_2 = df_all[df_all['성별']==2]

In [40]:
df_all_sex_1['장르명'].value_counts()

뮤지컬    2578349
연극     1182489
클래식     447896
무용      112621
국악       41619
오페라      40816
복합       35174
Name: 장르명, dtype: int64

### 세부장르

In [42]:
df_all_sex_1_mu = df_all_sex_1[df_all_sex_1['장르명']=='뮤지컬']
df_all_sex_1_yun = df_all_sex_1[df_all_sex_1['장르명']=='연극']
df_all_sex_1_cla = df_all_sex_1[df_all_sex_1['장르명']=='클래식']
df_all_sex_1_muyo = df_all_sex_1[df_all_sex_1['장르명']=='무용']
df_all_sex_1_guk = df_all_sex_1[df_all_sex_1['장르명']=='국악']
df_all_sex_1_ope = df_all_sex_1[df_all_sex_1['장르명']=='오페라']
df_all_sex_1_bok = df_all_sex_1[df_all_sex_1['장르명']=='복합']

In [62]:
df_all_sex_1_bok['세부장르명'].value_counts()

복합    35174
Name: 세부장르명, dtype: int64

### 공연지역명

In [63]:
df_all_sex_1['공연지역명'].value_counts()

서울     3182197
경상도     575731
경기도     332637
전라도     142025
충청도     138848
강원도      50767
제주도      16759
Name: 공연지역명, dtype: int64

In [11]:
df_all_sex_2['공연지역명'].value_counts()

서울     16005681
경상도     1680664
경기도     1276066
충청도      425456
전라도      407192
강원도      160409
제주도       52300
Name: 공연지역명, dtype: int64

In [12]:
df_all['공연지역명'].value_counts()

서울     19187878
경상도     2256395
경기도     1608703
충청도      564304
전라도      549217
강원도      211176
제주도       69059
Name: 공연지역명, dtype: int64