In [18]:
import pandas as pd
import numpy as np

df = pd.read_csv('./df_all.csv',index_col=0)

/var/folders/83/y5p7rzd572xcs0zzl5dr2lt00000gn/T/ipykernel_17742/170255471.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./df_all.csv',index_col=0)

In [19]:
df_sex_1 = df[df['성별']==1]
df_sex_1 = df_sex_1.dropna()
df_sex_1_nlp = df_sex_1[['출연진내용']]

In [21]:
df_nlp = df_sex_1_nlp['출연진내용'].str.split(',', expand = True)

In [22]:
df_nlp = df_nlp.iloc[:,:7]

In [23]:
df_nlp

           0     1     2     3     4     5       6
217      김승언   양이배   윤오성   오동구   도윤현   장선국   황경호 등
218      김승언   양이배   윤오성   오동구   도윤현   장선국   황경호 등
219      김승언   양이배   윤오성   오동구   도윤현   장선국   황경호 등
220      김승언   양이배   윤오성   오동구   도윤현   장선국   황경호 등
269      김한재   김윤하   류정훈   장경원   인선호   임준성   구다영 등
...      ...   ...   ...   ...   ...   ...     ...
2323659  김경헌   김나윤   전혜인  None  None  None    None
2323662  김경헌   김나윤   전혜인  None  None  None    None
2323663  김경헌   김나윤   전혜인  None  None  None    None
2323666  김경헌   김나윤   전혜인  None  None  None    None
2323667  김경헌   김나윤   전혜인  None  None  None    None

[2367665 rows x 7 columns]