In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./df_all.csv',index_col=0)

df_sex_2 = df[df['성별']==2]
df_sex_2 = df_sex_2.dropna()
df_sex_2_nlp = df_sex_2[['출연진내용']]

/var/folders/83/y5p7rzd572xcs0zzl5dr2lt00000gn/T/ipykernel_4997/2144348374.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./df_all.csv',index_col=0)

In [2]:
df_nlp = df_sex_2_nlp['출연진내용'].str.split(',', expand = True)
df_nlp = df_nlp.iloc[:,:7]

In [3]:
val_list0 = df_nlp[0].str.replace(' 등','',1)
val_list1 = df_nlp[1].str.replace(' 등','',1)
val_list2 = df_nlp[2].str.replace(' 등','',1)
val_list3 = df_nlp[3].str.replace(' 등','',1)
val_list4 = df_nlp[4].str.replace(' 등','',1)
val_list5 = df_nlp[5].str.replace(' 등','',1)
val_list6 = df_nlp[6].str.replace(' 등','',1)

In [4]:
from collections import Counter

count = Counter(val_list0)
words0 = dict(count.most_common())

count = Counter(val_list1)
words1 = dict(count.most_common())

count = Counter(val_list2)
words2 = dict(count.most_common())

count = Counter(val_list3)
words3 = dict(count.most_common())

count = Counter(val_list4)
words4 = dict(count.most_common())

count = Counter(val_list5)
words5 = dict(count.most_common())

count = Counter(val_list6)
words6 = dict(count.most_common())

In [5]:
list_df0 = pd.DataFrame(words0,index = ['list0'])
list_df1 = pd.DataFrame(words1,index = ['list1'])
list_df2 = pd.DataFrame(words2,index = ['list2'])
list_df3 = pd.DataFrame(words3,index = ['list3'])
list_df4 = pd.DataFrame(words4,index = ['list4'])
list_df5 = pd.DataFrame(words5,index = ['list5'])
list_df6 = pd.DataFrame(words6,index = ['list6'])

In [6]:
def pre_processing(exdata):
  exdata = exdata.iloc[:,1:50]
  exdata = exdata.transpose()
  exdata = exdata.reset_index()
  exdata.columns = ['name','counts']
  return exdata

final_list0 = pre_processing(list_df0)
final_list1 = pre_processing(list_df1)
final_list2 = pre_processing(list_df2)
final_list3 = pre_processing(list_df3)
final_list4 = pre_processing(list_df4)
final_list5 = pre_processing(list_df5)
final_list6 = pre_processing(list_df6)

In [7]:
merge1 = pd.merge(final_list0, final_list1, on = 'name',how='outer')
merge2 = pd.merge(merge1, final_list2,  on = 'name',how='outer')
merge3 = pd.merge(merge2, final_list3,  on = 'name',how='outer')
merge4 = pd.merge(merge3, final_list4,  on = 'name',how='outer')
merge5 = pd.merge(merge4, final_list5,  on = 'name',how='outer')
merge6 = pd.merge(merge5, final_list6,  on = 'name',how='outer')

/var/folders/83/y5p7rzd572xcs0zzl5dr2lt00000gn/T/ipykernel_4997/2908035382.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'counts_x'} in the result is deprecated and will raise a MergeError in a future version.
  merge3 = pd.merge(merge2, final_list3,  on = 'name',how='outer')
/var/folders/83/y5p7rzd572xcs0zzl5dr2lt00000gn/T/ipykernel_4997/2908035382.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'counts_x'} in the result is deprecated and will raise a MergeError in a future version.
  merge5 = pd.merge(merge4, final_list5,  on = 'name',how='outer')

In [8]:
merge6 = merge6.fillna(0)
merge6.columns = ['name','a','b','c','d','e','f','g']
merge6['count'] = merge6['a'] + merge6['b'] + merge6['c'] + merge6['d'] + merge6['e'] + merge6['f'] + merge6['a']
del merge6['a']
del merge6['b']
del merge6['c']
del merge6['d']
del merge6['e']
del merge6['f']
del merge6['g']

In [9]:
final_merge = merge6.groupby('name').sum().sort_values('count',ascending=False)
final_merge.head()

         count
name
류정한   768244.0
엄기준   579584.0
 최재림  570345.0
 박강현  562201.0
유준상   554518.0

In [10]:
# final_merge = final_merge.reset_index()
final_merge = final_merge.iloc[:100,:]

In [11]:
final_merge['count'] = final_merge['count'].astype(int)
# final_merge['count'] = final_merge['count'].astype(str)

In [12]:
df_dict = final_merge.to_dict()
dic_val = df_dict.values()
# dic_list = list(dic_val)

In [13]:
dic_val

dict_values([{'류정한': 768244, '엄기준': 579584, ' 최재림': 570345, ' 박강현': 562201, '유준상': 554518, '오만석': 545942, ' 신성록': 529407, ' 고은성': 491068, ' 전동석': 485374, ' 이규형': 467289, ' 윤공주': 464959, ' 카이': 464743, '최정원': 461066, '옥주현': 453800, ' 김경수': 446843, '이승현': 438712, '조형균': 428192, '송원근': 423480, '민우혁': 420189, '홍광호': 418980, ' 서경수': 395995, '안젤로 델 베키오': 377806, '조승우': 372818, '김재범': 365818, '정동화': 358594, ' 신영숙': 347654, ' 김지현': 340421, ' 정선아': 325971, '윤공주': 325078, '김소현': 319468, ' 이석준': 315139, ' 규현': 314978, '강혜인': 312492, ' 송원근': 311765, ' 정욱진': 309916, '강필석': 303866, ' 정성화': 293160, ' 박규원': 293099, '조아나 암필': 291958, ' 조형균': 291522, ' 홍광호': 282747, ' 김선영': 281591, ' 김찬호': 279241, ' 박민성': 278543, ' 아이비': 278260, ' 조정은': 276124, '박민성': 275506, ' 조승우': 274191, ' 김소향': 271010, '차지연': 269444, '윤도현': 266996, ' 강필석': 259823, ' 이정화': 256867, ' 유리아': 253336, '정문성': 250836, ' 옥주현': 249203, ' 임혜영': 247958, '박은태': 246630, ' 장은아': 238200, '김선영': 236204, ' 장지후': 232516, '이건명': 228478, ' 김지우': 220480, ' 김려원': 220014, ' 이해준': 212503, ' 박은태': 212148, '김동완': 211210, ' 최민철': 210135, ' 차지연': 207260, '이율': 205682, ' 진태화': 205428, ' 김종구': 204488, ' 황민수': 204396, ' 손승연': 200384, ' 나하나': 200384, '김종구': 196336, ' 김재범': 192185, ' 이아진': 191793, ' 조성윤': 190765, ' 이건명': 189396, ' 리샤르 샤레스트': 188903, '유승현': 186712, ' 김도형': 186409, ' 린아': 186409, '박정복': 185398, ' 박지연': 184726, '유주혜': 183806, '김찬호': 183070, ' 강홍석': 182496, ' 박혜나': 182496, ' 안재영': 179805, '임강희': 175494, ' 기세중': 173784, ' 티파니 영': 172397, '이진기': 172162, ' 유성재': 171276, ' 박은석': 170645, ' 고상호': 169544, ' 최석진': 168380, ' 김주호': 167343}])

In [16]:
dic_list = [('류정한', 768244), ('엄기준', 579584), ('최재림', 570345), ('박강현', 562201), ('유준상', 554518), ('오만석', 545942), ('신성록', 529407), ('고은성', 491068), ('전동석', 485374), ('이규형', 467289), ('윤공주', 464959), ('카이', 464743), ('최정원', 461066), ('옥주현', 453800), ('김경수', 446843), ('이승현', 438712), ('조형균', 428192), ('송원근', 423480), ('민우혁', 420189), ('홍광호', 418980), ('서경수', 395995), ('안젤로 델 베키오', 377806), ('조승우', 372818), ('김재범', 365818), ('정동화', 358594), ('신영숙', 347654), ('김지현', 340421), ('정선아', 325971), ('윤공주', 325078), ('김소현', 319468), ('이석준', 315139), ('규현', 314978), ('강혜인', 312492), ('송원근', 311765), ('정욱진', 309916), ('강필석', 303866), ('정성화', 293160), ('박규원', 293099), ('조아나 암필', 291958), ('조형균', 291522), ('홍광호', 282747), ('김선영', 281591), ('김찬호', 279241), ('박민성', 278543), ('아이비', 278260), ('조정은', 276124), ('박민성', 275506), ('조승우', 274191), ('김소향', 271010), ('차지연', 269444), ('윤도현', 266996), ('강필석', 259823), ('이정화', 256867), ('유리아', 253336), ('정문성', 250836), ('옥주현', 249203), ('임혜영', 247958), ('박은태', 246630), ('장은아', 238200), ('김선영', 236204), ('장지후', 232516), ('이건명', 228478), ('김지우', 220480), ('김려원', 220014), ('이해준', 212503), ('박은태', 212148), ('김동완', 211210), ('최민철', 210135), ('차지연', 207260), ('이율', 205682), ('진태화', 205428), ('김종구', 204488), ('황민수', 204396), ('손승연', 200384), ('나하나', 200384), ('김종구', 196336), ('김재범', 192185), ('이아진', 191793), ('조성윤', 190765), ('이건명', 189396), ('리샤르 샤레스트', 188903), ('유승현', 186712), ('김도형', 186409), ('린아', 186409), ('박정복', 185398), ('박지연', 184726), ('유주혜', 183806), ('김찬호', 183070), ('강홍석', 182496), ('박혜나', 182496), ('안재영', 179805), ('임강희', 175494), ('기세중', 173784), ('티파니 영', 172397), ('이진기', 172162), ('유성재', 171276), ('박은석', 170645), ('고상호', 169544), ('최석진', 168380), ('김주호', 167343)]

# df_all

In [17]:
df_nlp = df['출연진내용'].str.split(',', expand = True)
df_nlp = df_nlp.iloc[:,:7]

In [18]:
val_list0 = df_nlp[0].str.replace(' 등','',1)
val_list1 = df_nlp[1].str.replace(' 등','',1)
val_list2 = df_nlp[2].str.replace(' 등','',1)
val_list3 = df_nlp[3].str.replace(' 등','',1)
val_list4 = df_nlp[4].str.replace(' 등','',1)
val_list5 = df_nlp[5].str.replace(' 등','',1)
val_list6 = df_nlp[6].str.replace(' 등','',1)

In [ ]:
# val_list6.str.replace(' ','',1)

In [28]:
from collections import Counter

count = Counter(val_list0)
words0 = dict(count.most_common())

count = Counter(val_list1)
words1 = dict(count.most_common())

count = Counter(val_list2)
words2 = dict(count.most_common())

count = Counter(val_list3)
words3 = dict(count.most_common())

count = Counter(val_list4)
words4 = dict(count.most_common())

count = Counter(val_list5)
words5 = dict(count.most_common())

count = Counter(val_list6)
words6 = dict(count.most_common())

In [29]:
list_df0 = pd.DataFrame(words0,index = ['list0'])
list_df1 = pd.DataFrame(words1,index = ['list1'])
list_df2 = pd.DataFrame(words2,index = ['list2'])
list_df3 = pd.DataFrame(words3,index = ['list3'])
list_df4 = pd.DataFrame(words4,index = ['list4'])
list_df5 = pd.DataFrame(words5,index = ['list5'])
list_df6 = pd.DataFrame(words6,index = ['list6'])

In [30]:
def pre_processing(exdata):
  exdata = exdata.iloc[:,1:50]
  exdata = exdata.transpose()
  exdata = exdata.reset_index()
  exdata.columns = ['name','counts']
  return exdata

final_list0 = pre_processing(list_df0)
final_list1 = pre_processing(list_df1)
final_list2 = pre_processing(list_df2)
final_list3 = pre_processing(list_df3)
final_list4 = pre_processing(list_df4)
final_list5 = pre_processing(list_df5)
final_list6 = pre_processing(list_df6)

In [36]:
merge1 = pd.merge(final_list0, final_list1, on = 'name',how='outer')
merge2 = pd.merge(merge1, final_list2,  on = 'name',how='outer')
merge3 = pd.merge(merge2, final_list3,  on = 'name',how='outer')
merge4 = pd.merge(merge3, final_list4,  on = 'name',how='outer')
merge5 = pd.merge(merge4, final_list5,  on = 'name',how='outer')
merge6 = pd.merge(merge5, final_list6,  on = 'name',how='outer')

/var/folders/83/y5p7rzd572xcs0zzl5dr2lt00000gn/T/ipykernel_4997/2908035382.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'counts_x'} in the result is deprecated and will raise a MergeError in a future version.
  merge3 = pd.merge(merge2, final_list3,  on = 'name',how='outer')
/var/folders/83/y5p7rzd572xcs0zzl5dr2lt00000gn/T/ipykernel_4997/2908035382.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'counts_x'} in the result is deprecated and will raise a MergeError in a future version.
  merge5 = pd.merge(merge4, final_list5,  on = 'name',how='outer')

In [37]:
merge6 = merge6.fillna(0)
merge6.columns = ['name','a','b','c','d','e','f','g']
merge6['count'] = merge6['a'] + merge6['b'] + merge6['c'] + merge6['d'] + merge6['e'] + merge6['f'] + merge6['a']
del merge6['a']
del merge6['b']
del merge6['c']
del merge6['d']
del merge6['e']
del merge6['f']
del merge6['g']

In [38]:
final_merge = merge6.groupby('name').sum().sort_values('count',ascending=False)
final_merge.head()

              count
name
0         8344952.0
김준수       1527350.0
류정한        997168.0
조나단 록스머스   914438.0
 박은태       882722.0

In [39]:
final_merge = final_merge.iloc[1:100,:]
final_merge['count'] = final_merge['count'].astype(int)

In [41]:
df_dict = final_merge.to_dict()
dic_val = df_dict.values()

In [45]:
dic_val

dict_values([{'김준수': 1527350, '류정한': 997168, '조나단 록스머스': 914438, ' 박은태': 882722, ' 최재림': 876472, '최정원': 848856, ' 전동석': 792538, '엄기준': 707558, ' 박강현': 705256, ' 신성록': 678261, '유준상': 650204, '오만석': 621394, ' 신영숙': 616349, '옥주현': 610750, ' 카이': 570768, ' 고은성': 564834, ' 조정은': 551839, '안젤로 델 베키오': 526900, ' 이규형': 517685, ' 윤공주': 515005, ' 임혜영': 514597, '조형균': 492828, '홍광호': 486452, '이승현': 477852, ' 서경수': 475709, ' 김경수': 466981, '조승우': 464774, '윤공주': 448708, ' 엄기준': 446245, '송원근': 440212, ' 조형균': 437662, '이석훈': 436440, ' 정선아': 435951, ' 김지우': 434715, '민우혁': 426122, '조아나 암필': 419634, ' 베벌리 차이앗': 402400, ' 맷레이시': 402400, ' 제임스 보스윅': 402400, ' 클레어 라이언': 402400, '김소현': 396880, '김혜라': 394086, ' 강태을': 387079, '김재범': 386662, '정동화': 373472, ' 규현': 372941, ' 아이비': 366035, ' 홍광호': 363485, ' 강홍석': 359710, '강혜인': 337366, ' 송원근': 334410, ' 옥주현': 332624, '강필석': 327886, ' 김소향': 327812, ' 조승우': 322190, ' 김지현': 322130, '윤도현': 320110, ' 김선영': 319222, '박은태': 316910, ' 김성규': 314551, ' 박민성': 313126, '김종구': 312356, '차지연': 310692, ' 김찬호': 309581, '김선영': 302502, ' 강필석': 299351, '윤계열': 292890, '박민성': 288882, ' 유리아': 287739, ' 케이틀린 피니': 287254, ' 피설아': 279227, ' 박건엽': 279226, ' 박규원': 278154, ' 장은아': 276269, '정문성': 274274, '송용진': 270782, ' 임종철': 268492, ' 진태화': 265611, '추세민': 265562, ' 리샤르 샤레스트': 263450, ' 정성화': 263294, ' 최민철': 262251, ' 나하나': 260275, ' 손승연': 260275, '이재형': 256868, ' 정욱진': 254289, ' 김려원': 251052, '차수영': 247026, ' 이석준': 243590, ' 최정원': 243244, '이건명': 239694, ' 린아': 232387, ' 김도형': 232387, ' 양지원': 230919, '김동완': 230642, '이순재': 228092, ' 전나영': 224354, ' 이해준': 220445, '김연수': 219344}])

In [47]:
dic_list = [('김준수',1527350),('류정한',997168),('조나단 록스머스',914438),('박은태',882722),('최재림',876472),('최정원',848856),('전동석',792538),('엄기준',707558),('박강현',705256),('신성록',678261),('유준상',650204),('오만석',621394),('신영숙',616349),('옥주현',610750),('카이',570768),('고은성',564834),('조정은',551839),('안젤로 델 베키오',526900),('이규형',517685),('윤공주',515005),('임혜영',514597),('조형균',492828),('홍광호',486452),('이승현',477852),('서경수',475709),('김경수',466981),('조승우',464774),('윤공주',448708),('엄기준',446245),('송원근',440212),('조형균',437662),('이석훈',436440),('정선아',435951),('김지우',434715),('민우혁',426122),('조아나 암필',419634),('베벌리 차이앗',402400),('맷레이시',402400),('제임스 보스윅',402400),('클레어 라이언',402400),('김소현',396880),('김혜라',394086),('강태을',387079),('김재범',386662),('정동화',373472),('규현',372941),('아이비',366035),('홍광호',363485),('강홍석',359710),('강혜인',337366),('송원근',334410),('옥주현',332624),('강필석',327886),('김소향',327812),('조승우',322190),('김지현',322130),('윤도현',320110),('김선영',319222),('박은태',316910),('김성규',314551),('박민성',313126),('김종구',312356),('차지연',310692),('김찬호',309581),('김선영',302502),('강필석',299351),('윤계열',292890),('박민성',288882),('유리아',287739),('케이틀린 피니',287254),('피설아',279227),('박건엽',279226),('박규원',278154),('장은아',276269),('정문성',274274),('송용진',270782),('임종철',268492),('진태화',265611),('추세민',265562),('리샤르 샤레스트',263450),('정성화',263294),('최민철',262251),('나하나',260275),('손승연',260275),('이재형',256868),('정욱진',254289),('김려원',251052),('차수영',247026),('이석준',243590),('최정원',243244),('이건명',239694),('린아',232387),('김도형',232387),('양지원',230919),('김동완',230642),('이순재',228092),('전나영',224354),('이해준',220445),('김연수',219344)]