In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

sample = pd.read_csv('/content/drive/MyDrive/tmap/data/TMAP_data_sample_20220825.csv')
cal = pd.read_csv('/content/drive/MyDrive/tmap/data/calendar_20220825.csv')
submit = pd.read_csv('/content/drive/MyDrive/tmap/data/report_format.csv')

In [ ]:
# 회귀 결측치 대체 함수
def regression_nan(exdata):
    exdata = exdata.interpolate(method='linear', limit_direction = 'both', axis = 0)
    return exdata

In [ ]:
# 시간데이터 datetime 형식 변경해주기
sample['periodtime'] = pd.to_datetime(sample['periodtime'], format='%Y%m%d%H%M')

# 바꾼 데이터로 날짜와 시간 분리하기
## 날짜
sample['date'] = sample['periodtime'].dt.strftime('%Y%m%d')
## 시간
sample['hour'] = sample['periodtime'].dt.strftime('%H')

# 시간데이터 datetime 형식 변경해주고, format
cal['perioddate'] = pd.to_datetime(cal['perioddate'], format='%Y%m%d')
cal['date'] = cal['perioddate'].dt.strftime('%Y%m%d')

data = pd.merge(sample, cal, on='date')

data_1018052 = data[data['tsdlinkid']==1018052]
data_2594592 = data[data['tsdlinkid']==2594592]
# weekday 변수 추가 (금요일=4)
data_1018052['weekday'] = data_1018052['periodtime'].dt.weekday
data_2594592['weekday'] = data_2594592['periodtime'].dt.weekday

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# 1018052

In [ ]:
# 기본 데이터 전처리 함수
def data_processing(exdata):
    # 금요일인 날짜만 추출
    exdata = exdata[exdata['weekday']==4]
    # 6시 데이터만 추출
    exdata = exdata[exdata['hour']=='18']
    # 공휴일 데이터 제외
    exdata = exdata[exdata['description'].isnull()]
    # 시간데이터 datetime 형식 변경해주기
    exdata['periodtime'] = pd.to_datetime(exdata['periodtime'])
    # index를 periodtime으로 바꿔주기
    exdata = exdata.set_index('periodtime')
    # 평균 계산이 필요 없는 데이터 제거해주기
    del exdata['tsdlinkid']
    del exdata['length']
    del exdata['offerspeed']
    del exdata['offertraveltime']
    del exdata['hour']
    del exdata['perioddate']
    del exdata['holiday']
    del exdata['dayofweek']
    del exdata['description']
    del exdata['weekday']

    return exdata

In [ ]:
df_1018052 = data_processing(data_1018052)

In [ ]:
df_1018052 = regression_nan(df_1018052)

## pivot

In [ ]:
def pivot(exdata):
  exdata = exdata.copy()
  exdata = exdata.reset_index()
  exdata['periodtime'] = pd.to_datetime(exdata['periodtime'])
  exdata['time'] = exdata['periodtime'].dt.strftime('%H%M')
  exdata = exdata.pivot('time','date','truetraveltime')

  return exdata

In [ ]:
pivot_1018052 = pivot(df_1018052)

In [ ]:
# 6/3일
pivot_0603 = pivot_1018052.iloc[:,:14]
y_pred = pivot_1018052.mean(axis = 'columns')
y_true = pivot_1018052.iloc[:,14]

import numpy as np

def average(y_true,y_pred):
  return np.median(np.abs(y_true - y_pred)/y_true)

average(y_true,y_pred)

0.4698245247859883

In [ ]:
# 6/10일
pivot_0603 = pivot_1018052.iloc[:,:15]
y_pred = pivot_1018052.mean(axis = 'columns')
y_true = pivot_1018052.iloc[:,15]

import numpy as np

def average(y_true,y_pred):
  return np.median(np.abs(y_true - y_pred)/y_true)

average(y_true,y_pred)

In [ ]:
#pivot_1018052.to_csv('pivot_1018052.csv')

# 2594592

In [ ]:
df_2594592 = data_processing(data_2594592)

In [ ]:
df_2594592 = regression_nan(df_2594592)

In [ ]:
df_2594592

                     truespeed  truetraveltime      date
periodtime
2022-02-25 18:00:00  19.239155       449.08417  20220225
2022-02-25 18:01:00  19.264994       448.48184  20220225
2022-02-25 18:02:00  19.131395       451.61368  20220225
2022-02-25 18:03:00  18.990576       454.96250  20220225
2022-02-25 18:04:00  19.102911       452.28708  20220225
...                        ...             ...       ...
2022-06-10 18:55:00  13.102275       659.42740  20220610
2022-06-10 18:56:00  14.325012       603.14080  20220610
2022-06-10 18:57:00  15.228549       567.35540  20220610
2022-06-10 18:58:00  16.121954       535.91516  20220610
2022-06-10 18:59:00  16.121954       535.91516  20220610

[960 rows x 3 columns]

## pivot

In [ ]:
pivot_2594592 = pivot(df_2594592)

In [ ]:
# 6/3일
pivot_0603 = pivot_2594592.iloc[:,:14]
y_pred = pivot_2594592.mean(axis = 'columns')
y_true = pivot_2594592.iloc[:,14]

import numpy as np

def average(y_true,y_pred):
  return np.median(np.abs(y_true - y_pred)/y_true)

average(y_true,y_pred)

0.14338739608926954

In [ ]:
# 6/10일
pivot_0603 = pivot_2594592.iloc[:,:15]
y_pred = pivot_2594592.mean(axis = 'columns')
y_true = pivot_2594592.iloc[:,15]

import numpy as np

def average(y_true,y_pred):
  return np.median(np.abs(y_true - y_pred)/y_true)

average(y_true,y_pred)

0.2721935970877669

In [ ]:
pivot_2594592

date,20220225,20220304,20220311,20220318,20220325,20220401,20220408,20220415,20220422,20220429,20220506,20220513,20220520,20220527,20220603,20220610
time,,,,,,,,,,,,,,,,
1800,449.08417,739.29736,534.018300,91.809875,575.24570,577.56030,819.809750,1204.346300,993.13000,643.00930,1029.93930,652.70530,559.999450,804.977000,478.28100,594.33276
1801,448.48184,739.29736,552.031700,90.476105,520.01370,590.84210,838.168760,1241.911900,978.84080,645.00006,1023.06586,664.98770,575.846740,794.870700,552.96950,625.65360
1802,451.61368,700.35156,532.706850,91.107864,469.22192,612.29480,871.365500,1244.055700,967.63000,645.97210,1027.54440,693.58765,631.589540,786.230350,562.07120,655.56630
1803,454.96250,624.15314,518.187440,91.460640,457.51334,622.84686,911.851560,1261.533200,963.16766,645.20776,1032.91980,701.46730,660.884340,780.905460,571.68120,716.56866
1804,452.28708,627.18380,500.927280,90.512180,430.13248,644.89667,938.262600,1274.410600,899.87415,639.11000,1032.04520,703.95410,692.240500,763.707760,605.46860,779.70807
1805,449.72780,626.59600,451.573500,91.626816,404.07593,663.24210,948.547800,1293.172700,899.87415,624.10706,1054.62870,705.29320,728.582760,761.836700,630.48505,804.73640
1806,442.57420,643.46783,410.016720,91.974170,371.29816,665.80524,939.202450,1295.003700,848.94720,600.14730,999.29224,706.98360,752.304930,732.102900,675.15630,822.96100
1807,421.90344,681.86865,388.623700,92.804140,343.91428,663.47340,911.242070,1286.721200,861.46893,551.45984,970.98160,685.91290,776.220200,690.990000,703.29170,827.08490
1808,394.39170,731.11850,372.976200,91.911705,342.02142,668.75640,902.129640,1263.889600,863.45170,522.59520,945.93190,656.36676,793.659550,654.539900,721.53796,870.29890
1809,359.98703,748.63824,348.390800,93.500206,342.83417,680.90980,895.096560,1178.135700,863.72455,519.20380,932.36900,635.75770,808.150300,673.745850,740.42645,874.78540
1810,333.90810,794.78143,330.339870,91.999380,337.10947,693.92993,891.265000,1146.304900,863.72455,496.29718,928.41130,620.10890,794.140440,692.716500,785.96014,868.61053
1811,295.90470,804.51013,309.266330,91.545006,343.55450,712.31730,887.273560,1121.047100,870.31360,485.75020,975.21310,600.74457,756.755600,710.324500,804.21906,834.85810
1812,255.19913,792.45465,298.826800,90.923960,350.13513,722.24820,878.108000,1107.255700,850.99870,474.81592,963.37146,588.44476,750.487060,727.842500,811.69780,871.84980
1813,231.85507,765.37244,296.008760,91.387720,392.91522,742.70215,850.883200,1107.255700,821.15265,442.15470,937.22550,575.92830,742.865050,768.441900,833.18274,872.66156
1814,218.65047,756.42584,297.683560,93.279610,420.13745,770.50616,829.639950,1094.984000,791.80870,431.51932,908.41110,552.68780,730.703900,815.039060,857.36220,867.05820
1815,213.33492,731.50867,312.780900,95.728930,461.70227,795.76710,838.471900,1032.494400,784.90375,408.52350,903.23650,545.02167,696.957340,863.608760,906.19763,896.05190
1816,218.32533,732.54803,322.235200,96.205580,525.90460,829.23773,876.029900,965.711100,767.75060,393.23587,877.02637,543.22510,675.478640,888.527340,918.78345,950.90125
1817,240.67337,730.80005,357.716740,94.816870,550.32360,845.24426,871.855800,915.582700,767.75060,387.79333,848.63430,545.17460,674.671140,916.968930,923.41187,966.62756
1818,260.16420,731.87490,393.465900,95.429565,591.10266,848.46560,879.933040,895.735000,717.74190,405.06274,842.55200,544.29944,674.561700,933.355900,925.55005,976.51770
1819,273.34120,738.92650,417.098050,93.582360,593.18730,827.01670,892.681200,895.735000,699.02500,427.69482,835.83044,542.12146,679.907530,957.452500,920.04736,1007.96050
1820,309.29608,737.83570,398.961800,93.374590,578.34520,794.93790,886.535800,862.615600,666.31570,456.07578,833.07110,543.34820,695.678830,936.841060,895.95074,1026.78210
1821,325.60670,731.13560,387.866730,94.184490,567.04755,775.65670,841.726100,801.154970,666.31570,487.64130,828.64750,545.15390,711.106100,924.305540,845.43620,1034.80650
1822,343.55588,731.19630,369.825400,94.011770,556.29517,766.00836,840.045400,778.650450,648.20800,519.24585,818.53200,544.14940,723.593570,897.484200,775.47200,1001.13960
1823,381.09515,714.72900,364.236820,100.571830,559.52527,751.48346,818.918200,751.333740,580.23480,547.34985,806.71967,554.74700,734.165000,881.780800,768.42975,984.66003
1824,405.31293,644.37915,359.391700,100.277010,564.92370,741.73486,768.509900,764.282800,558.96810,576.62616,799.64996,571.72950,731.627870,863.522770,737.53700,935.83980
1825,425.10428,636.14056,361.628140,100.041954,585.48410,722.26380,757.991100,767.786800,500.81207,601.85430,799.61550,583.10430,699.187130,862.467300,697.30493,925.02530
1826,442.49515,617.81500,360.361700,99.605030,591.65600,674.47810,740.220640,773.548650,488.75363,624.48770,790.73834,597.31980,679.754940,856.866640,672.70166,930.91660
1827,450.61664,596.65970,365.178770,101.618710,621.36790,656.41980,738.118470,770.567300,476.82210,627.79920,799.73160,598.31195,672.871500,849.542360,633.86365,950.34720
1828,442.93982,580.34030,357.982850,92.210940,632.08600,634.75410,736.634340,776.345400,473.06512,626.44890,791.57580,603.12494,683.557430,840.159550,618.01190,971.73670
1829,429.08987,520.24330,352.696780,91.677155,646.09780,599.33800,733.555050,743.274100,470.89218,626.44880,781.44390,606.04095,696.363460,829.667360,605.52814,991.53580
1830,417.43158,505.02097,334.054780,91.691310,663.72250,541.21924,733.712950,686.723100,470.18158,628.87415,777.03610,597.99207,706.957600,819.420650,598.15630,1010.12190
1831,407.92650,457.95413,308.593540,91.476440,649.69196,548.72095,725.548950,630.264300,465.28366,638.44480,778.41490,598.19836,730.846400,806.298300,580.16600,1008.07580
1832,394.13626,406.99870,272.623470,90.929756,605.60290,559.01990,707.871460,586.700440,458.42462,645.78500,743.31433,592.49396,743.812900,814.742740,548.59940,1002.69855
1833,379.43494,390.51743,245.696730,91.661810,569.06177,569.85480,698.442600,586.700440,453.36078,656.29834,737.35583,583.01410,763.766970,808.702800,527.68567,981.08325
1834,364.47580,381.76096,233.525620,94.429750,518.01510,584.72705,683.296940,567.341800,450.87927,664.24320,670.15310,578.69120,799.015560,808.086600,533.37744,962.29570
1835,350.77222,388.00845,212.513030,97.261800,518.01510,592.31270,670.733300,477.583620,449.03543,667.40063,643.34106,587.06006,823.533900,794.919000,542.86860,942.03577
1836,355.06827,393.14923,192.307920,97.981510,492.12080,608.81920,652.442140,420.093900,487.46655,646.00934,609.07640,603.36896,826.586200,795.173300,546.75380,930.87836
1837,358.10670,407.53427,163.696200,98.366060,484.59753,613.37970,605.165200,377.417140,532.58230,617.80680,591.15030,618.68880,844.260500,792.775500,555.54000,909.94403
1838,359.02173,440.72955,146.164230,98.883700,472.74316,612.71900,589.356700,375.915200,530.93940,606.23676,582.27734,628.13776,860.897100,818.907400,563.50040,883.64557
1839,355.62064,465.84018,140.435710,97.497090,464.83627,562.97430,578.739560,386.467350,528.39746,598.81690,567.83580,641.72986,867.340800,818.907400,549.17456,839.21860
1840,346.04865,494.19748,121.647156,95.463750,464.83627,545.49713,579.316500,403.068480,528.74930,605.32090,600.48987,641.34796,892.993840,825.966700,506.60275,801.23615
1841,339.97562,521.24634,105.531590,96.012955,456.02960,517.33234,577.883100,437.319640,526.78140,608.91880,673.13336,633.89990,910.705400,831.769350,463.47342,787.21936
1842,329.51060,557.41790,99.122700,95.954740,452.70910,487.03925,579.095400,453.302920,525.44980,605.29110,677.74524,616.23914,915.074460,779.532170,430.89030,745.79510
1843,310.65475,559.61650,99.347595,95.399140,464.28766,487.46590,562.141800,505.695040,522.02270,601.42914,696.52780,615.11914,918.871500,737.986270,431.38034,735.31714
1844,294.93414,543.26190,99.609260,95.241160,480.16458,498.07254,538.215900,526.465300,520.30817,590.31976,706.31140,630.38490,904.298600,754.663450,442.16766,728.54880
1845,283.16925,517.58250,106.796036,96.696150,478.76770,510.47100,508.062900,560.282500,480.95718,569.08844,718.57336,652.49720,858.658450,843.002100,457.09040,721.79755
1846,282.61734,501.44778,126.090576,95.359604,493.76974,525.95624,484.985780,578.911100,455.90765,560.06230,708.01044,663.86260,839.400940,870.587160,482.21430,694.92584
1847,282.05182,442.85450,145.476410,94.891860,494.05783,554.59300,481.326540,570.443600,475.11966,550.44710,719.28000,687.14526,871.189760,911.863600,531.74640,649.97626
1848,285.58594,415.91370,151.618090,94.571304,485.40903,598.40040,489.440460,531.645400,483.13165,543.13354,718.74710,694.29034,878.300800,952.621200,554.05140,648.48460
1849,290.02896,401.59540,156.540310,94.293570,470.95538,621.65300,498.421000,492.573700,487.24730,536.52500,715.05927,685.88390,890.350800,969.027340,583.88310,647.09320
1850,291.71365,385.42557,149.997250,91.180115,473.24690,649.86900,535.460300,497.895480,505.99250,533.17090,710.82806,649.08340,923.370000,1008.517900,597.39470,649.86030
1851,295.31390,383.11930,140.294530,92.206290,470.72880,658.13520,556.071960,514.238340,516.51300,521.82350,688.82440,608.96826,962.008200,1036.108300,607.04460,657.85890
1852,302.62146,369.13644,127.678760,91.165500,479.28490,661.30300,567.233100,561.176200,522.03130,474.51236,637.18585,590.00165,1030.086800,1036.108300,621.34644,666.21860
1853,306.42603,359.09827,122.958610,93.160210,481.13916,648.05600,591.244900,594.233760,502.95673,429.36340,593.93207,565.01630,1001.948075,966.379888,644.32130,667.48517
1854,304.21603,352.87344,115.975136,92.833206,487.48290,643.65753,597.665650,628.977000,500.68552,404.92435,586.22220,552.19135,973.809350,896.651475,658.03790,673.58026
1855,298.86694,347.17392,113.839320,94.032820,506.92822,592.77655,609.726560,651.504300,476.58893,411.98310,587.67870,544.36096,945.670625,826.923063,669.89300,659.42740
1856,295.87524,337.58606,108.861300,93.595170,535.21814,539.09204,624.786900,652.229100,459.21323,417.06766,585.95135,543.15094,917.531900,757.194650,670.37610,603.14080
1857,283.95093,332.95877,107.792460,94.810040,554.00116,423.89236,638.415400,657.358100,454.94852,429.68552,580.14620,541.28394,889.393175,687.466238,672.59576,567.35540
1858,264.73474,309.87466,101.706190,92.747300,581.17303,211.78087,681.396550,654.428470,475.16693,440.21017,580.85690,539.28520,861.254450,617.737825,665.46490,535.91516
1859,248.27138,276.70645,95.463060,93.713990,639.97970,211.78087,942.871425,823.779235,471.66046,446.99283,594.59720,541.63116,833.115725,548.009412,629.89883,535.91516

In [ ]:
#pivot_2594592.to_csv('pivot_2594592.csv')

# 모델링

## submit

### index별 평균

In [ ]:
submit_1018052 = submit[submit['tsdlinkid']==1018052]
submit_2594592 = submit[submit['tsdlinkid']==2594592]

In [ ]:
mean_1018052 = pivot_1018052.mean(axis = 'columns')
mean_2594592 = pivot_2594592.mean(axis = 'columns')

In [ ]:
mean_1018052 = mean_1018052.reset_index()
del mean_1018052['time']

In [ ]:
mean_2594592 = mean_2594592.reset_index()
del mean_2594592['time']

In [ ]:
submit_1018052['truetraveltime_predict'] = mean_1018052
submit_1018052.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     periodtime  tsdlinkid  truetraveltime_predict
0  202206171800    1018052              863.374388
1  202206171801    1018052              831.812889
2  202206171802    1018052              824.861200
3  202206171803    1018052              840.260610
4  202206171804    1018052              849.286086

In [ ]:
submit_2594592.to_csv('submit_2594592.csv')

In [ ]:
submit_2594592 = pd.read_csv('submit_2594592.csv')

In [ ]:
submit_2594592['truetraveltime_predict'] = mean_2594592
submit_2594592.head()

   Unnamed: 0    periodtime  tsdlinkid  truetraveltime_predict
0          60  202206171800    2594592              671.721617
1          61  202206171801    2594592              680.153652
2          62  202206171802    2594592              683.931838
3          63  202206171803    2594592              688.456929
4          64  202206171804    2594592              692.170067

In [ ]:
submit_2594592 = submit_2594592.iloc[:,1:4]

In [ ]:
submit_2594592.to_csv('submit_2594592.csv')

In [ ]:
submit_final = pd.concat([submit_1018052, submit_2594592], axis = 0)

In [ ]:
submit_final = submit_final.reset_index()

In [ ]:
submit_final.set_index('periodtime')

              index  tsdlinkid  truetraveltime_predict
periodtime
202206171800      0    1018052              863.374388
202206171801      1    1018052              831.812889
202206171802      2    1018052              824.861200
202206171803      3    1018052              840.260610
202206171804      4    1018052              849.286086
...             ...        ...                     ...
202206171855     55    2594592              521.085900
202206171856     56    2594592              508.804411
202206171857     57    2594592              494.753373
202206171858     58    2594592              475.858334
202206171859     59    2594592              495.899180

[120 rows x 3 columns]

In [ ]:
submit_v2 = submit_final.iloc[:,1:4]

In [ ]:
submit_v2

       periodtime  tsdlinkid  truetraveltime_predict
0    202206171800    1018052              863.374388
1    202206171801    1018052              831.812889
2    202206171802    1018052              824.861200
3    202206171803    1018052              840.260610
4    202206171804    1018052              849.286086
..            ...        ...                     ...
115  202206171855    2594592              521.085900
116  202206171856    2594592              508.804411
117  202206171857    2594592              494.753373
118  202206171858    2594592              475.858334
119  202206171859    2594592              495.899180

[120 rows x 3 columns]

In [ ]:
submit_v2.to_csv('submit_v2.csv')