In [2]:
import os

In [1]:
# import csv
# f = open('대전_주민등록현황.csv','r')
# data = csv.reader(f, delimiter=',')
# print(data)
# f.close()

<_csv.reader object at 0x000001B36C6433A0>

In [3]:
# f = open('대전_주민등록현황.csv','r')
# data = csv.reader(f,delimiter=',')

In [4]:
# new = csv.reader(f)
# new

In [6]:
#a

# CSV 데이터

In [14]:
f = open('a.csv','r')

In [15]:
new = csv.reader(f)
new

In [16]:
for i in new:
    print(i)

['국어', '영어', '수학']
['90', '80', '100']

In [17]:
a_list = []
for i in new:
    print(i)
    a_list.append(i)

a_list

[]

In [19]:
f.seek(0)
for i in new:
    print(i)
    a_list.append(i)
a_list

['국어', '영어', '수학']
['90', '80', '100']

[['국어', '영어', '수학'], ['90', '80', '100']]

In [20]:
def opencsv(filename):
    f = open(filename,'r')
    reader = csv.reader(f)
    output = []
    for i in reader:
        output.append(i)
    return output

In [21]:
opencsv('example2.csv')

[['이름', '국어', '영어', '수학'],
 ['a', '90', '80', '100'],
 ['b', '80', '90', '90'],
 ['c', '100', '80', '60']]

In [30]:
a = [['구','전체','내국인','외국인'],
['관악구','519864','502089','17775'],
['강남구','547602','542495','5104'],
['송파구','686181','679247','6934'],
['강동구','428547','424235','4312']]

In [26]:
f = open('abc.csv','w',newline='')
csvobject = csv.writer(f, delimiter = ',')
csvobject.writerows(a)
f.close()

In [32]:
def writecsv(filename, the_list):
    with open(filename, 'w', newline = '') as f:
        a = csv.writer(f,delimiter = ',')
        a.writerows(the_list)

In [33]:
writecsv('abc.csv',a)

In [1]:
import usecsv
a = [['물리','화학','생물'], [70,99,100]]
usecsv.writecsv('test.csv',a)

### csv파일 안의 문자를 숫자로 전환하기

In [8]:
import os, re
import usecsv
total = usecsv.opencsv('popSeoul.csv')
for i in total [:5]:
    print(i)

['Gu', 'Korean', 'Foreigner', 'Senior']
['Total', '9,740,398', '285,529', '1,468,146']
['Jongrogu', '151,767', '11,093', '27,394']
['Jongru', '126,409', '10,254', '23,025']
['Yongsangu', '228,830', '16,159', '38,531']

In [6]:
### 문자형 자료를 숫자형으로 바꾸기
#float()함수로 바로 바꾸기
for row in total[1:]:
    # row[1] = int(row[1].replace(',',''))
    # row[2] = int(row[2].replace(',',''))
    # row[3] = int(row[3].replace(',',''))
    
    for i in range(1,4):
        row[i] = int(row[i].replace(',',''))
    print(row)

['Total', 9740398, 285529, 1468146]
['Jongrogu', 151767, 11093, 27394]
['Jongru', 126409, 10254, 23025]
['Yongsangu', 228830, 16159, 38531]
['Seongdonggu', 303158, 8132, 43662]
['Kwangjingu', 352692, 15645, 47347]
['Dongdaemoongu', 346551, 17228, 58764]
['Jungranggu', 398812, 4964, 64449]
['Seongbukgu', 441590, 12524, 70204]
['Gangbukgu', 314090, 3785, 59808]
['Dobonggu', 335280, 2314, 58070]
['Nowonggu', 535282, 4547, 79968]
['Eunpyonggu', 481663, 4496, 79957]
['Seodaemungu', 310069, 14020, 51708]
['Mapogu', 373629, 11976, 51961]
['Yangcheongu', 459849, 4082, 60487]
['Gangseogu', 593708, 6532, 82937]
['Gurogu', 406748, 33102, 64952]
['Guemcheongu', 233371, 19497, 37191]
['Youngdeungpogu', 368402, 34076, 57350]
['Dongjakgu', 397618, 12869, 61607]
['Kwanakgu', 502117, 17836, 74518]
['Seoucheogu', 431027, 4231, 56455]
['Gangnamgu', 544028, 5015, 70029]
['Songpagu', 677489, 6849, 86062]
['Gangdonggu', 426219, 4303, 61710]

In [12]:
import re
i = total[2]
i

k = []
for j in i:
    if re.search('\d',j):
        k.append(float(re.sub(',','',j)))
    else:
        k.append(j)
k

['Jongrogu', 151767.0, 11093.0, 27394.0]

In [14]:
### 문자와 숫자가 섞인 원소 골라내기
p = ['123강남','151.767','11.093','27,394']
k = []
for j in p:
    if re.search('[a-zA-Z가-힣!]',j):
        k.append(j)
    else:
        k.append(float(re.sub(',','',j)))
k

['123강남', 151.767, 11.093, 27394.0]

In [22]:
### 문자와 숫자가 섞인 원소 골라내기
i = ['123!!','151.767','11.093','27,394','','!!!$%']
for j in i:
    try:
        i[i.index(j)] = float(re.sub(',','',j))
    except:
        pass
k

['123강남', 151.767, 11.093, 27394.0]

In [3]:
def switch(listName):
    for i in listName:
        for j in i:
            try:
                i[i.index(j)] = float(re.sub(',','',j))
            except:
                pass
    return listName

In [30]:
# def switch(listName):
#     for row in listName:
#         for item in row:
#             try:
#                 row[row.index(item)] = float(re.sub(',','',item))
#             except:
#                 pass
#     return listName

In [27]:
row = [1,2,3,4,5]
row[row.index(5)]

5

In [5]:
i = ['123!!','151.767','11.093','27,394','','!!!$%']
switch(i)

['123!!', '151.767', '11.093', '27,394', '', '!!!$%']

In [9]:
i = [['123!!','151.767','11.093','27,394','','!!!$%']]
usecsv.switch(i)

[['123!!', 151.767, 11.093, 27394.0, '', '!!!$%']]

# csv파일 데이터 분석하기

In [10]:
import os, re, usecsv
total = usecsv.opencsv('popSeoul.csv')
newPop = usecsv.switch(total)
print(newPop[:4])

[['Gu', 'Korean', 'Foreigner', 'Senior'], ['Total', 9740398.0, 285529.0, 1468146.0], ['Jongrogu', 151767.0, 11093.0, 27394.0], ['Jongru', 126409.0, 10254.0, 23025.0]]

In [12]:
i = newPop[1]
i

['Total', 9740398.0, 285529.0, 1468146.0]

In [13]:
i[2] / (i[1] + i[2]) * 100

2.847906233508383

In [14]:
foreign = round(i[2] / (i[1] + i[2]) * 100,1)
foreign

2.8

In [15]:
for i in newPop:
    foreign = 0
    try:
        foreign = round(i[2] / (i[1] + i[2]) * 100,1)
        print(i[0], foreign)
    except:
        pass

Total 2.8
Jongrogu 6.8
Jongru 7.5
Yongsangu 6.6
Seongdonggu 2.6
Kwangjingu 4.2
Dongdaemoongu 4.7
Jungranggu 1.2
Seongbukgu 2.8
Gangbukgu 1.2
Dobonggu 0.7
Nowonggu 0.8
Eunpyonggu 0.9
Seodaemungu 4.3
Mapogu 3.1
Yangcheongu 0.9
Gangseogu 1.1
Gurogu 7.5
Guemcheongu 7.7
Youngdeungpogu 8.5
Dongjakgu 3.1
Kwanakgu 3.4
Seoucheogu 1.0
Gangnamgu 0.9
Songpagu 1.0
Gangdonggu 1.0

In [16]:
new = [['구','한국인','외국인','외국인 비율(%)']]

In [17]:
i

['Gangdonggu', 426219.0, 4303.0, 61710.0]

In [19]:
new.append([i[0],i[1],i[2],foreign])
new

[['구', '한국인', '외국인', '외국인 비율(%)'], ['Gangdonggu', 426219.0, 4303.0, 1.0]]

In [24]:
#교수님코드
newList = []
newList.append(newPop[0])
for i in newPop:
    foreign = 0
    try:
        foreign = round(i[2] / (i[1] + i[2]) * 100,1)

    except Exception as e:
        print(e)
    if foreign > 3:
        newList.append(i)
usecsv.writecsv('foreignover3.csv',newList)

unsupported operand type(s) for /: 'str' and 'str'

In [25]:
new = [['구','한국인','외국인','외국인 비율(%)']]
for i in newPop:
    foreign = 0
    try:
        foreign = round(i[2] / (i[1] + i[2]) * 100,1)
        if foreign > 3:
            new.append([i[0],i[1],i[2],foreign])
    except:
        pass
usecsv.writecsv('newPop.csv',new)

# apt_202203.csv

In [29]:
import usecsv

# apt = usecsv.opencsv('apt_202203.csv')
# apt = usecsv.switch(apt)

apt = usecsv.switch(usecsv.opencsv('apt_202203.csv'))
apt[:3]

[['시군구',
  '번지',
  '본번',
  '부번',
  '단지명',
  '전용면적(㎡)',
  '계약년월',
  '계약일',
  '거래금액(만원)',
  '층',
  '건축년도',
  '도로명',
  '해제사유발생일',
  '거래유형',
  '중개사소재지'],
 ['강원도 강릉시 견소동',
  202.0,
  202.0,
  0.0,
  '송정한신',
  59.8,
  202203.0,
  7.0,
  18000.0,
  3.0,
  1997.0,
  '경강로2539번길 8',
  '',
  '중개거래',
  '강원 강릉시'],
 ['강원도 강릉시 견소동',
  202.0,
  202.0,
  0.0,
  '송정한신',
  59.8,
  202203.0,
  8.0,
  21000.0,
  8.0,
  1997.0,
  '경강로2539번길 8',
  '',
  '중개거래',
  '강원 강릉시']]

In [30]:
len(apt)

23900

In [36]:
for i in apt[:6]:
    print(i[0])

시군구
강원도 강릉시 견소동
강원도 강릉시 견소동
강원도 강릉시 견소동
강원도 강릉시 견소동
강원도 강릉시 견소동

In [37]:
for i in apt[:6]:
    print(i[0],i[4],i[5],i[-7])

시군구 단지명 전용면적(㎡) 거래금액(만원)
강원도 강릉시 견소동 송정한신 59.8 18000.0
강원도 강릉시 견소동 송정한신 59.8 21000.0
강원도 강릉시 견소동 송정한신 84.945 25500.0
강원도 강릉시 견소동 송정해변신도브래뉴아파트 84.99 33500.0
강원도 강릉시 견소동 송정해변신도브래뉴아파트 59.99 27000.0

In [44]:
for i in apt:
    try:
        if i[5] > 80 and i[-7] <= 30000 and re.match('대전',i[0]):
            print(i[0],i[4],i[5],i[-7])
    except Exception as e: 
        print(e)

'>' not supported between instances of 'str' and 'int'
대전광역시 대덕구 법동 영진로얄 84.88 26700.0
대전광역시 대덕구 비래동 화인빌 81.389 13000.0
대전광역시 대덕구 신탄진동 새여울라이프 101.67 20000.0
대전광역시 대덕구 오정동 영진로얄맨션 84.28 16900.0
대전광역시 대덕구 오정동 한남 84.97 18800.0
대전광역시 대덕구 읍내동 현대 84.96 24500.0
대전광역시 동구 가양동 한울 84.8698 27000.0
대전광역시 동구 대성동 서미가아파트 84.959 20000.0
대전광역시 동구 판암동 방주아파트 84.93 26000.0
대전광역시 서구 가수원동 은아1단지 84.9 29500.0
대전광역시 서구 갈마동 갈마 84.68 27500.0
대전광역시 서구 갈마동 한국도로공사조합아파트 84.9 20088.0
대전광역시 서구 내동 롯데 84.99 29800.0
대전광역시 서구 월평동 월평타운 84.895 25000.0
대전광역시 서구 정림동 강변들금성백조 84.81 27000.0
대전광역시 서구 정림동 우성 84.935 30000.0
대전광역시 유성구 대정동 드리움1단지 84.65 30000.0
대전광역시 유성구 봉명동 노블레스3 84.61 24000.0
대전광역시 유성구 송강동 송강그린 84.996 30000.0
대전광역시 유성구 송강동 청솔신호 84.44 25300.0
대전광역시 유성구 송강동 청솔태영 84.44 24700.0
대전광역시 유성구 지족동 가나파로스빌2차 84.14 27500.0
대전광역시 중구 문화동 동양맨션마동 84.9 17000.0
대전광역시 중구 오류동 쉐리움 83.27 21000.0
대전광역시 중구 유천동 당대마을 82.169 17500.0
대전광역시 중구 유천동 동양맨션 84.97 17700.0

In [45]:
new_list = []
new_list.append([apt[0][0], apt[0][4],apt[0][5],apt[0][-7]])
for i in apt:
    try:
        if i[5] > 80 and i[-7] <= 30000 and re.match('대전',i[0]):
            new_list.append([i[0],i[4],i[5],i[-7]])
    except Exception as e:
        print(e)
usecsv.writecsv('over80_lower3000.csv',new_list)

'>' not supported between instances of 'str' and 'int'