# 리스트 자료형

- ### 리스트의 인덱싱과 슬라이싱

In [2]:
odd = [1,3,5,7,9]

In [ ]:
a = []
b = [1,2,3]
c = ['Life','is','too','short']
d = [1,2,'Life','is']
e = [1,2,['Life','is']]

In [3]:
#리스트의 인덱싱
a = [1,2,3]
a

[1, 2, 3]

In [4]:
a[0] + a[2]

4

In [5]:
a = [1,2,3,['a','b','c']]

In [8]:
a[-1]

['a', 'b', 'c']

In [9]:
a[3]

['a', 'b', 'c']

In [14]:
a[3][0]

'a'

- ### 리스트의 수정과 삭제

In [16]:
#리스트에서 값 수정하기
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [17]:
#del 함수 사용해 리스트 요소 삭제하기
a = [1,2,3]
del a[1]
a

[1, 3]

- ### 리스트 관련 함수

In [18]:
#리스트에 요소 추가(append){맨마지막에}
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [19]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [20]:
#리스트 정렬(sort)
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [21]:
a = ['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [22]:
a = ['가','라','나']
a.sort()
a

['가', '나', '라']

In [24]:
#리스트 뒤집기(reverse)
a = ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [25]:
#위치 반환(index)
a = [1,2,3]
a.index(3) # 3은 리스트 a의 세 번째(a[2]) 요소

2

In [27]:
#리스트에 요소 삽입(insert)
a = [1,2,3]
a.insert(0,4) #a[0] 위치에 4 삽입
a

[4, 1, 2, 3]

In [29]:
#리스트 요소 제거(remove)
#remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다.
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [31]:
#리스트 요소 끄집어내기(pop) <-> append
#pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.
a = [1,2,3]
a.pop()

3

In [32]:
a

[1, 2]

In [34]:
#리스트에 포함된 요소 x의 개수 세기(count)
a = [1,2,3,1]
a.count(1)

2

In [35]:
#리스트 확장(extend)
#extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다.
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [36]:
b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

# 딕셔너리 자료형

In [92]:
dic = {'name':'pey','phone':'0119993323','birth':'1118'}
dic

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [93]:
dic['name']

'pey'

In [103]:
#딕셔너리 쌍 추가
dic['gender'] = 'female'
dic

{'name': 'pey', 'phone': '0119993323', 'birth': '1118', 'gender': 'female'}

In [104]:
#딕셔너리 요소 삭제하기
del dic['phone']
dic

{'name': 'pey', 'birth': '1118', 'gender': 'female'}

- ### 딕셔너리 관련 함수

In [119]:
#Key 리스트 만들기(Keys)
a = {'name':'pey','phone':'0119993323','birth':'1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [120]:
#Key, Value 쌍 얻기(items)
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [121]:
#Key: Value 쌍 모두 지우기(clear)
a.clear()
a

{}

In [122]:
#Key로 Value 얻기(get)
a = {'name':'pey','phone':'0119993323','birth':'1118'}
a.get('name')

'pey'

In [123]:
a.get('phone')

'0119993323'

In [117]:
a = list(dic.items())
a[1][0]

'birth'

# 집합 자료형

- ### 중복을 허용하지 않는다.
- ### 순서(index)가 없다.

In [124]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [125]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [127]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [128]:
#교집합
s1 & s2

{4, 5, 6}

In [129]:
s1.intersection(s2)

{4, 5, 6}

In [130]:
#합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [131]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [132]:
#차집합
s1 - s2

{1, 2, 3}

In [133]:
s2 - s1

{7, 8, 9}

In [134]:
s1.difference(s2)

{1, 2, 3}

In [135]:
s2.difference(s1)

{7, 8, 9}

- ### 집합 자료형 관련 함수

In [136]:
#값 1개 추가하기(add)
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [137]:
#값 여러 개 추가하기(update)
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [138]:
#특정 값 제거하기(remove)
s1 = set([1,2,3])
s1.remove(2)
s1

{1, 3}

# 불(bool) 자료형
- ### 참(True)와 거짓(False)을 나타내는 자료형이다.

In [139]:
a = True
b = False

In [151]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

# 반복문

In [110]:
list(range(4))

[0, 1, 2, 3]

In [109]:
for i in [0,1,2,3]:
    print(i)

0
1
2
3

In [112]:
#10번째에서 18번째까지
for i in range(10,19):
    print(i)

10
11
12
13
14
15
16
17
18

In [113]:
list('k-digital')

['k', '-', 'd', 'i', 'g', 'i', 't', 'a', 'l']

In [91]:
#1
a,b = input("두 수를 입력하세요 : ").split()
c = int(a)+int(b)
print("입력한 두 수의 합은? ",c)

두 수를 입력하세요 : 13 65
입력한 두 수의 합은?  78

In [86]:
#2
a = "13 56"
b = input("두 수를 입력하세요 : ").split()
print("입력한 두 수의 합은? ",int(b[0])+int(b[1]))

두 수를 입력하세요 : 13 56
입력한 두 수의 합은?  69

In [87]:
#교수님 코드
a = input("두 수를 입력하세요 : ")
b = a.split()
int(b[0])+int(b[1])

두 수를 입력하세요 : 15 59

74

In [85]:
a = input("네 수를 입력하세요 : ").split()

# m = (a + b + c + d)/4
# v = ((a-m)**2 + (b-m)**2 + (c-m)**2 + (d-m)**2)/ 4

m = (int(a[0])+int(a[1])+int(a[2])+int(a[3]))/4
v = ((int(a[0])-m)**2+(int(a[1])-m)**2+(int(a[2])-m)**2+(int(a[3])-m)**2)/4

print("평균 : ",m)
print("분산 : ",v )

네 수를 입력하세요 : 1 3 5 7
평균 :  4.0
분산 :  5.0