### 10일차 연습문제

### 1번

In [2]:
#1.
def starprint(n):
    return n * "*"
n = int(input())
print("Enter the number :",n)
starprint(n)

Enter the number : 7

'*******'

In [4]:
### 교수님 코드1
def starprint(n):
    print('*'*n)
starprint(7)

*******

In [6]:
### 교수님 코드2
def starprint(n):
    for i in range(n):
        print('*',end="")
starprint(7)

*******

### 2번

In [8]:
#2.
def operator(a,b):
    return [a+b,a-b,a*b]

print(operator(7,4))

[11, 3, 28]

In [7]:
### 교수님 코드
def operator(a,b):
    return [a+b,a-b,a*b]
operator(7,4)

[11, 3, 28]

### 3번 return?
```
아래의 기준에 따라, 학생의 점수를 입력받아 학점을 리턴하는 grade(score)란 함수를 작성하시오.


90 점 이상 ~ 100 점 이하 : A
80 점 이상 ~ 90 점 미만 : B
70 점 이상 ~ 80 점 미만 : C
60 점 이상 ~ 70 점 미만 : D
60 점 미만 : E
```

In [31]:
#3.
def grade(score):
    if 90 <= score <= 100:
        print("A")
    elif 80 <= score < 90:
        print("B")
    elif 70 <= score < 80:
        print("C")
    elif 60 <= score < 70:
        print("D")
    else:
        print("E")

In [37]:
grade(84)

B

In [ ]:
### 교수님 코드
#def grade(n):
#    g = 
#    if n >= 90 and a <= 100:
#        n = 'a'
#    elif n

### 4번

In [178]:
#4.
def surf(r):
    return r * r * 3.14 

r = int(input())
print("Enter the radius : ",r)
print("The surface is", surf(r))

Enter the radius :  5
The surface is 78.5

In [ ]:
### 교수님 코드
def surf(r):
    return 3.14 * r **2
surf(5)

### 5번
```
자연수 n을 입력 받아 1부터 n-1까지의 각각의 수들을 5로 나눈 나머지들의 합을 리턴하는 함수 fun(n)을 작성하시오.
```

In [38]:
#5.
def fun(n):
    sum = 0
    for n in range(1,n):
        sum += n % 5
    return sum

In [39]:
fun(8)

13

In [3]:
### 교수님 코드
def fun(n):
    sum = 0
    for i in range(1,n):
        sum += i % 5
    return sum

In [2]:
fun(8)

13

### 6번 정수입력?
```
최소한 함수 1개를 정의하여, 정수를 입력받아 입력받은 숫자를 거꾸로 뒤집은 수를 출력하는 프로그램을 작성하시오.
```

In [4]:
#6.
n = input()
def rev(n):
    return n[::-1]
# n = int(input())
print("Enter the number : ", n)
rev(n)

Enter the number :  72451

'15427'

In [5]:
### 교수님 코드
def rev(n):
    n2 = ''
    n = str(n)
    l = len(n)
    for i in range(l-1,-1,-1):
        n2 = n2+n[i]
    return n2
rev(72451)

'15427'

In [6]:
### 교수님 코드
def rev(n):
    n = str(n)
    n = list(n)
    n.reverse()
    return n
rev(72451)

['1', '5', '4', '2', '7']

### 7번
```
아래의 조건을 만족하면서, 100000보다 작은 자연수 중 3 또는 5의 배수를 모두 더한 합을 출력하는 프로그램을 작성하시오.
```

1. 3의 배수를 판정하는 함수 ismulThree(n)과 5의 배수를 판정하는 함수 ismulFive(n)을 정의하여 사용한다.  
2. 전체 코드의 줄은 15줄을 넘지 않는다.

In [32]:
#7.
def ismulThree(n):
    return n % 3 == 0
def ismulFive(n):
    return n % 5 == 0
sum = 0
for n in range(1,100001):
    n += 1
    if ismulThree(n) and ismulFive(n) == True:
        sum += n
print(sum)

333316665

In [10]:
### 교수님 코드
def ismulThree(n):
    if n % 3 == 0:
        return n
def ismulFive(n):
    if n % 5 == 0:
        return n
sum = 0
for i in range(100000):
    if ismulThree(i):
        sum = sum + i
    if ismulFive(i):
        sum = sum + i
    if ismulThree(i) and ismulFive(i):
        sum = sum - i
print(sum)

### 답 : 2333316668

2333316668

### 8번
```
어떤 수 n이 입력되면 n의 각 자릿수의 합이 한 자리가 될 때까지 계산하여 출력하는 프로그램을 작성하시오.

ex. 12345678 -> 1+2+3+4+5+6+7 = 28 -> 2+8 = 10 -> 1+0 = 1

In [13]:
### 교수님 코드
def func(n):
    while n >= 10:
        sum = 0
        s = str(n)
        for i in s:
            sum += int(i)
        n = sum
        print(n)

In [14]:
func(1234567)

28
10
1

### 9번
```
swap(i,j)함수는 list의 i와 j번째 값을 교환해주는 함수이다. 아래 빈칸을 채워 swqp(a,b)함수를 완성하시오.

list = [5,1,7,2,6,3]
def swap(i,j):
<A>

i,j = 3,5
swap(i,j)
print(list) # [5,1,7,3,6,2] 출력
```

In [134]:
list = [5,1,7,2,6,3]
def swap(i,j):
    result = list[i],list[j] = list[j],list[i]
    return result

In [135]:
i,j = 3,5
swap(i,j)
print(list)

[5, 1, 7, 3, 6, 2]

In [ ]:
### 교수님 코드
# list = [5,1,7,2,6,3]
# def swap(i,j):
#     n = 0
#     list[i] = list[j]
#     list[j] = list[i]
#     return list
# swap(i,j)

### 10번
```
wordlist(string)함수는 문장을 입력받아서 각 알파벳을 대문자로 바꾼 후, 문장을 이루는 각 단어를 저장한 리스트를 반환하는 함수이다.
wordlist(string)함수를 작성하시오.

<code>
def wordlist(string):
<A>

string = input("Enter the sentence : ")
print(wordlist(string))

<result>
Enter the sentence : This is my favorite fruit
['THIS','IS','MY','FAVORITE','FRUIT']
```

In [166]:
def wordlist(string):
    return  string.split()
# string = input("Enter the sentence : ")
# print(wordlist(string))

In [167]:
string = input("Enter the sentence : ")
print(wordlist(string))

['This', 'is', 'my', 'favorite', 'fruit']

In [15]:
### 교수님 코드
def wordlist(string):
    n = string.upper()
    return n.split()
wordlist("This is my favorite fruit")

['THIS', 'IS', 'MY', 'FAVORITE', 'FRUIT']