# 연습문제

- ### 산술연산

In [78]:
length = float(input())
floor = 0.247*length+4.159
print(int(floor))

12
7

In [67]:
int(floor) #정수로 바꾸어줌.

7

In [74]:
korean = 90
english = 80
math = 70
science = 50
mean = (korean + english + math + science) / 4
mean

72.5

- ### 문자열

In [61]:
#1
print("*"*40)
print("내 이름은" + "Tom이다")

first = "내 이름은"
second = " Tom이다"
string = first + second
print(string)

A = "안"
B = "녕"
print(A + B + " " + first + second)
print("*"*40)

****************************************
내 이름은Tom이다
내 이름은 Tom이다
안녕 내 이름은 Tom이다
****************************************

In [62]:
#2
name = "Chan"
age = 18
height = 182.5
nation = 'China'

print('이름은',name)
print('나이는',age)
print('키는',height)
print('국가는',nation)

이름은 Chan
나이는 18
키는 182.5
국가는 China

In [101]:
#3
text_1 = "문자열에서 \n을 쓰면 줄바꿈이 되고, \t를 사용하면 탭 공백이 넣어 진다"
text_2 = "문자열에서 '를 쓰려면 문자열을 큰 따옴표로 선언하거나 \'와 \"를 쓰면 된다."
text_3 = '마찬가지로 작은 따옴표 내에서 "는 그냥 출력 된다'

print(text_1)
print(text_2)
print(text_3)

문자열에서
을 쓰면 줄바꿈이 되고, 	를 사용하면 탭 공백이 넣어 진다
문자열에서 '를 쓰려면 문자열을 큰 따옴표로 선언하거나 '와 "를 쓰면 된다.
마찬가지로 작은 따옴표 내에서 "는 그냥 출력 된다

In [71]:
#4
text_1 = "가나\n다라\n마바사\t아"
text_2 = "자차카"
text_3 = "타\n파하"

print(text_1)
print(text_2)
print(text_3)

가나
다라
마바사	아
자차카
타
파하

- ### 인덱싱과 슬라이싱

In [90]:
#5
string = "PYTHON"

print(string[0])
print(string[1])
print(string[5])

print(string[-1])
print(string[-3])
print(string[-6])

P
Y
N
N
H
P

In [92]:
#6
mystr = "GOOD NIGHT"

print(mystr[1:3])
print(mystr[5:10])
print(mystr[7:9])
print(mystr[2:4])

OO
NIGHT
GH
OD

In [93]:
#7
string = "PYTHON"

print("*"*5+"정방향"+"*"*5)
print(string[0:2])
print(string[4:5])

print("*"*5+"역방향"+"*"*5)
print(string[-3:-1])
print(string[-6:-5])

*****정방향*****
PY
O
*****역방향*****
HO
P

In [131]:
#8
mystr = "ORANGE"

print(mystr[0])
print(mystr[4])
print(mystr[-3])
print(mystr[-6])

O
G
N
O

- ### 따라하며 배우는 파이썬과 데이터 과학

In [132]:
# 48p
height = 1.80
weight = 78.2
bmi = weight / height**2
bmi

24.1358024691358

In [134]:
# 50p
radius = 10
area = 3.14 * radius**2
print('피자 면적은', area)

#도전문제 2.2
#1.
radius = 20
area = 3.14 * radius**2
print('피자 면적은', area)
#2.
radius = 30
area = 3.14 * radius**2
print('피자 면적은', area)

피자 면적은 314.0
피자 면적은 1256.0
피자 면적은 2826.0