# for문

In [1]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [2]:
a = [(1,2),(3,4),(5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [12]:
sum = 0
marks = [90,25,67,45,80]
number = 0
for i in marks:
    sum += i
    mean = sum / len(marks)
print(sum)
print(mean)

307
61.4

In [13]:
sum = 0
marks = [90,25,67,45,80]
number = 0
for i in marks:
    sum += i
print(sum)
print("평균은",sum/len(marks),"입니다.")

307
평균은 61.4 입니다.

In [23]:
sum = 0
number = 0
marks = [90,25,67,45,80]
for i in marks:
    sum += i
    number += 1
    if i >= 60:
        print("%d번 학생은 %d점 합격입니다." % (number,i))
    else:
        print("%d번 학생은 %d점 불합격입니다." % (number,i))
print("반 평균은",sum/len(marks),"입니다.")

1번 학생은 90점 합격입니다.
2번 학생은 25점 불합격입니다.
3번 학생은 67점 합격입니다.
4번 학생은 45점 불합격입니다.
5번 학생은 80점 합격입니다.
반 평균은 61.4 입니다.

### continue

### for문과 함께 자주 사용하는 range 함수

In [30]:
add = 0
for i in range(1,101):
    add += i
print(add)

5050

In [32]:
for dan in range(2,10):
    for i in range(1,10):
        print(dan * i, end = " ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### 리스트 내포 사용하기

In [33]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [34]:
a = [1,2,3,4]
result = [num*3 for num in a] #반복문 자체를 리스트로 묶음, 실행문이 for문 앞으로 옴
print(result)

[3, 6, 9, 12]

In [38]:
#for문 안에 if문
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 ==0]
print(result)

[6, 12]

In [42]:
################
####같은코드####
result = []
for num in a:
    if num % 2 ==0:
        result.append(num*3)
print(result)
################

[6, 12]

In [46]:
#while문 별 만들기
i = 0
while True:
    i += 1
    if i > 5: break
    print("*"*i)

*
**
***
****
*****

In [47]:
#for문 별 만들기
i = 0
for i in range(5):
    i += 1
    print("*"*i)

*
**
***
****
*****

In [50]:
##교수님 코드
for j in range(1,6):
    for i in range(j):
        print("*",end="")
    print()

*
**
***
****
*****

In [52]:
#별 거꾸로 만들기
for j in [5,4,3,2,1]:
    for i in range(j):
        print("*",end="")
    print()

*****
****
***
**
*

In [53]:
# #역삼각형 만들기
# for i in range(10):
#     if i <= 5:
#         i += 1
#         print("*"*i)
#     else:
#         i -= 1
#         print("*"*i)

*
**
***
****
*****
******
*****
******
*******
********

In [ ]:
###연습문제
#1+(1+2)+(1+2+3)+...+(1+...+100)
#1
sum = 0
for i in range(1,101):
    for j in range(1, i+1):
        sum += j
print(sum)

In [225]:
#2x + 4y = 10의 해를 구하시오. x,y는 정수이며, 범위는 [0,10]이다.

166650

In [126]:
#2x + 4y = 10의 해를 구하시오. x,y는 정수이며, 범위는 [0,10]이다.

# 함수

In [233]:
def f(x):
    a = 2*x + 3
    return a

In [235]:
f(3)

9

In [236]:
def print2(x):
    a = 2*x + 3
    return a

In [237]:
print2(3)

9

In [238]:
for x in range(0,10):
    print(f(x))

3
5
7
9
11
13
15
17
19
21

In [ ]:
### 연습문제
sum = 0
for i in range(1,10):
    sum += 1

In [243]:
def adidas(n):
    sum = 0
    for i in range(1,n):
        sum += i
    return sum

In [244]:
a = 0
for n in range(2,102):
    a += adidas(n)
print(a)

171700