### 입력문 input()과 문자열함수

In [3]:
#1
a = int(input())
b = int(input())
print(a*b)

2
3
6

In [8]:
#2
year = int(input())
age = year - 1997

print("년도를 입력하세요 :",year)
print(year,"년 지수의 나이는 ",int(age),"세 입니다.")

2055
년도를 입력하세요 : 2055
2055 년 지수의 나이는  58 세 입니다.

In [ ]:
#3-1
a,b = input("두 수를 입력하세요 : ").split()
c = int(a)+int(b)
print("입력한 두 수의 합은? ",c)

In [86]:
#3-2
a = "13 56"
b = input("두 수를 입력하세요 : ").split()
print("입력한 두 수의 합은? ",int(b[0])+int(b[1]))

두 수를 입력하세요 : 13 56
입력한 두 수의 합은?  69

In [87]:
#교수님 코드
a = input("두 수를 입력하세요 : ")
b = a.split()
int(b[0])+int(b[1])

두 수를 입력하세요 : 15 59

74

In [85]:
#4
a = input("네 수를 입력하세요 : ").split()

# m = (a + b + c + d)/4
# v = ((a-m)**2 + (b-m)**2 + (c-m)**2 + (d-m)**2)/ 4

m = (int(a[0])+int(a[1])+int(a[2])+int(a[3]))/4
v = ((int(a[0])-m)**2+(int(a[1])-m)**2+(int(a[2])-m)**2+(int(a[3])-m)**2)/4

print("평균 : ",m)
print("분산 : ",v )

네 수를 입력하세요 : 1 3 5 7
평균 :  4.0
분산 :  5.0

### list

In [1]:
#1

In [10]:
#2
numbers = [12.26,5,426.3,0.221]
len(numbers)

426.3

In [11]:
max(numbers)

426.3

In [12]:
min(numbers)

0.221

In [13]:
sum(numbers)

443.781

In [14]:
sorted(numbers)

[0.221, 5, 12.26, 426.3]

In [15]:
#3
friends = ['Julio','Kane','Kaka','Messi']
legends = ['Ronaldo','Henry','Beckham']

print(friends)

sub = friends[1] + friends[3]
print(sub)

print(friends[0:4])
print(legends[1:2])
print(friends[1:3] + legends[0:2])

['Julio', 'Kane', 'Kaka', 'Messi']
KaneMessi
['Julio', 'Kane', 'Kaka', 'Messi']
['Henry']
['Kane', 'Kaka', 'Ronaldo', 'Henry']

In [16]:
#4
myList = [[1,2],'samsung',2.5,'A']
print(myList)
print(myList[0])
print(myList[1][2])
print(myList[1:3])
print(myList[:2])

[[1, 2], 'samsung', 2.5, 'A']
[1, 2]
m
['samsung', 2.5]
[[1, 2], 'samsung']

In [24]:
#5
year = [2011,2012,2013,2014,2015,2016,2017,2018]
population = [10249679,10195318,10143645,10103233,10022181,9930616,9857426,9838892]

print(year[5:8])
print(population[5:8])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [29]:
n = -32,75,97,-10,9,32,4,-15,0,76,14,2
print(n[1::2])

(75, -10, 32, -15, 76, 2)

In [73]:
#6
a = input()
b = a.split()
tuple(b[0:5])

1 2 3 4 5 6 7 8 9 10

('1', '2', '3', '4', '5')

In [75]:
#
a = input()
b = a.split()
tuple(b[0:7])

oven bat pony total leak wreck curl crop space navy loss knee

('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')