In [13]:
a = 1230
b = 1230

In [15]:
# a가 저장되어 있는 주소
id(a)

1810472262576

In [16]:
id(b)

1810472262480

In [27]:
a = 1.2
a = -3.45

In [28]:
a = 3
b = 4

1

In [31]:
a + b

7

In [30]:
a * b

12

In [32]:
a / b

0.75

In [33]:
a ** b #제곱

81

In [34]:
7 % 3 #나머지

1

In [35]:
7 // 4 #몫

1

21

In [38]:
14 // 3

4

In [39]:
14 % 3

2

In [42]:
#백슬래시(\)를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함시키기
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
food

"Python's favorite food is perl"

In [43]:
say

'"Python is very easy." he says.'

In [47]:
# 줄바꾸기
multiline = '''Life is too short
You need python'''
print(multiline)

Life is too short
You need python

##  이스케이프 코드  p.48

In [49]:
# multistring.py
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

## 인덱싱과 슬라이싱 p.51
 - 파이썬은 0부터 숫자를 센다

In [51]:
a = "Life is too short, You need Python"
a[3]

'e'

In [52]:
#문장길이확인
len(a)

34

In [55]:
# -0과 0은 같으므로 뒤에서부터 셀 때는 -1부터 센다
a[-1]

'n'

In [89]:
#Pithon이라는 문자열을 Python으로 바꾸려면?
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

'Python'

## 문자열 포매팅 p.58

In [104]:
# 1. 숫자 바로 대입
"I eat %d apples." % 3

'I eat 3 apples.'

In [105]:
# 2. 문자열 바로 대입
"I eat %s apples." % "five"

'I eat five apples.'

In [106]:
# 3. 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [107]:
# 4. 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [108]:
#######################
#문자열 포맷 코드 p.59#
#######################

In [111]:
# 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다
"Error is %d%%." % 98

'Error is 98%.'

- ### 포맷 코드와 숫자 함께 사용하기

In [112]:
# 1. 정렬과 공백
# %10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨두라는 의미이다.
"%10s" % "hi" # hi가 오른쪽 정렬됨

'        hi'

In [113]:
"%-10sjane" % "hi"

'hi        jane'

In [115]:
# 2. 소수점 표현하기
"%0.4f" % 3.42134234 #소수점 네 번째 자리까지만 나타내기

'3.4213'

In [116]:
"%10.4f" % 3.42134234

'    3.4213'

- ### format 함수를 사용한 포매팅

In [117]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)

'I ate 10 apples. so I was sick for three days.'

In [120]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10,day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [121]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [122]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [123]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [124]:
# 공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [125]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [127]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [128]:
#{또는} 문자 표현하기
"{{ and  }}".format()

'{ and  }'

- ### f 문자열 포매팅

In [130]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

# 연습문제

- ### 산술연산

In [78]:
length = float(input())
floor = 0.247*length+4.159
print(int(floor))

12
7

In [67]:
int(floor) #정수로 바꾸어줌.

7

In [74]:
korean = 90
english = 80
math = 70
science = 50
mean = (korean + english + math + science) / 4
mean

72.5

- ### 문자열

In [61]:
#1
print("*"*40)
print("내 이름은" + "Tom이다")

first = "내 이름은"
second = " Tom이다"
string = first + second
print(string)

A = "안"
B = "녕"
print(A + B + " " + first + second)
print("*"*40)

****************************************
내 이름은Tom이다
내 이름은 Tom이다
안녕 내 이름은 Tom이다
****************************************

In [62]:
#2
name = "Chan"
age = 18
height = 182.5
nation = 'China'

print('이름은',name)
print('나이는',age)
print('키는',height)
print('국가는',nation)

이름은 Chan
나이는 18
키는 182.5
국가는 China

In [101]:
#3
text_1 = "문자열에서 \n을 쓰면 줄바꿈이 되고, \t를 사용하면 탭 공백이 넣어 진다"
text_2 = "문자열에서 '를 쓰려면 문자열을 큰 따옴표로 선언하거나 \'와 \"를 쓰면 된다."
text_3 = '마찬가지로 작은 따옴표 내에서 "는 그냥 출력 된다'

print(text_1)
print(text_2)
print(text_3)

문자열에서
을 쓰면 줄바꿈이 되고, 	를 사용하면 탭 공백이 넣어 진다
문자열에서 '를 쓰려면 문자열을 큰 따옴표로 선언하거나 '와 "를 쓰면 된다.
마찬가지로 작은 따옴표 내에서 "는 그냥 출력 된다

In [71]:
#4
text_1 = "가나\n다라\n마바사\t아"
text_2 = "자차카"
text_3 = "타\n파하"

print(text_1)
print(text_2)
print(text_3)

가나
다라
마바사	아
자차카
타
파하

- ### 인덱싱과 슬라이싱

In [90]:
#5
string = "PYTHON"

print(string[0])
print(string[1])
print(string[5])

print(string[-1])
print(string[-3])
print(string[-6])

P
Y
N
N
H
P

In [92]:
#6
mystr = "GOOD NIGHT"

print(mystr[1:3])
print(mystr[5:10])
print(mystr[7:9])
print(mystr[2:4])

OO
NIGHT
GH
OD

In [93]:
#7
string = "PYTHON"

print("*"*5+"정방향"+"*"*5)
print(string[0:2])
print(string[4:5])

print("*"*5+"역방향"+"*"*5)
print(string[-3:-1])
print(string[-6:-5])

*****정방향*****
PY
O
*****역방향*****
HO
P

In [131]:
#8
mystr = "ORANGE"

print(mystr[0])
print(mystr[4])
print(mystr[-3])
print(mystr[-6])

O
G
N
O

- ### 따라하며 배우는 파이썬과 데이터 과학

In [132]:
# 48p
height = 1.80
weight = 78.2
bmi = weight / height**2
bmi

24.1358024691358

In [134]:
# 50p
radius = 10
area = 3.14 * radius**2
print('피자 면적은', area)

#도전문제 2.2
#1.
radius = 20
area = 3.14 * radius**2
print('피자 면적은', area)
#2.
radius = 30
area = 3.14 * radius**2
print('피자 면적은', area)

피자 면적은 314.0
피자 면적은 1256.0
피자 면적은 2826.0